[2017-08-09 18:50] mkanoor opened #12 "When no current_user defined exception raised"
When logging in for the first time, there is no User.current_user set and the log_request line blows up with the exception
#<NoMethodError: undefined method `userid' for nil:NilClass>

Which leads to the render being called multiple times

 https://github.com/ManageIQ/manageiq-api/blob/33eb2d8780e9e9f3464adec6c032c54e21fb3560/app/controllers/api/base_controller.rb#L35

F, [2017-08-09T14:23:54.6475

[2017-08-09 19:39] abellotti commented on #12
we do set the User.current_user in the base_controller/authentication.rb for the authenticated user.  Is this a logging issue only   ?  i.e. we're trying to log the userid but haven't created the user object yet ?

[2017-08-09 19:43] mkanoor commented on #12
@abellotti This the first time thru the user has never logged in and we have not displayed the Dialog to the User to collect the userid/password. So User.current_user is not set

[2017-08-09 19:46] mkanoor commented on #12
@abellotti
   https://github.com/ManageIQ/manageiq-api/blob/33eb2d8780e9e9f3464adec6c032c54e21fb3560/app/controllers/api/base_controller/logger.rb#L21 is the line that logs this message.

https://github.com/ManageIQ/manageiq-api/blob/33eb2d8780e9e9f3464adec6c032c54e21fb3560/app/controllers/api/base_controller/logger.rb#L25 does protect against User.current_user being nil but the log line doesn't

[2017-08-14 14:49] mkanoor commented on #12
@jrafanie I think you ran into the same issue.

[2017-08-14 15:41] jrafanie commented on #12
Yeah, I think I ran into this @mkanoor.  My workaround when running `bin/rails s` after initial seeding was to log into the classic ui and then I could hit `/api` in the browser.

[2017-08-15 22:15] chriskacerguis opened #22 "Calling service_orders/cart/service_requests endpoint returns a 404 if no cart exists"
Calling the service_orders/cart/service_requests endpoint returns a 404 when a cart does not exist; and then the client can create one.  I'm wondering everyone's thoughts on changing the behavior such that if you call the endpoint when a cart does not exist, if it can just go ahead a create one and return nothing.

It pertains to this BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1480758

Though

[2017-08-16 17:35] #12 closed

[2017-08-20 12:15] miq-bot opened #26 "/providers read/write REST API is very asymmetric"
Continuing from #9743 but I want to focus on REST API, then worry about internals.
http://manageiq.org/docs/reference/latest/api/reference/providers
The ways to write provider endpoint & auth info is very different from the ways to read them — there is almost no overlap.  Especially for multi-endpoint providers (this part BTW is not documented yet)

## `GET /api/providers/1?attributes=endpoints,au

[2017-08-20 12:29] cben opened #27 "Can't know if password/auth_key changed"
For security reasons, API omits on GET /users password field, /providers endpoints password, auth_key (and maybe userid?) fields etc.  Makes sense.
This caused several problems when developing ansible modules, that try to use API in idempotent style.

1. You can't compare existing to desired to decide if to POST the edit.  The only way to do an idempotent update is always do the POST.  That's actu

[2017-08-20 12:58] cben opened #28 "/providers auth validation in foreground"
When adding/editing a provider, it's useful to know whether ManageIQ successfully connects to it.
In UI, you're forced to click [Validate] before you can even press [Add]/[Save].
In API, the create/edit returns immediately, and iff the `Authentication` changed, it's validated in background.
**=> I propose switching to (or adding option to do) foreground validation, returning result immediately in

[2017-09-25 21:12] AllenBW opened #74 "GET api?attributes=authorization should return more than an array of strings for `groups`"
While mildly helpful, the array of strings, better would be an array of full group objects that below to the user when this call is made:`GET http://localhost:3000/api?attributes=authorization`

[code]

@imtayadeway 👾 💅 ‼️

[2017-09-25 22:19] abellotti commented on #74
keeping current groups array returned as is (ye-old compatibility) but maybe some additional details separately.

@AllenBW what info out of groups do you need ?  with all groups details, might be tons of data, we may want to only return that if attributes=authorization, "identity" is always returned but we can extend with an miq_groups element when attributes=authorization

[2017-09-26 00:41] AllenBW commented on #74
see i did that! added the `miq_groups` attribute... it didn't do much... all i need/want is an id or href for the groups, of course can be gotten by doing a call on `api/groups` and matching in the client... but that kinda seems crazy to make another call :-/

[2017-09-26 13:11] psachin opened #77 "[RFE] Tag for network, subnet, flavors."
We can't assign tags to network, subnet, flavor as the login is not in place. Do we have any roadmap for this?

[2017-09-26 13:15] abellotti commented on #74
If this is something you need back with each call with attributes=authorization,

Maybe something like this ?

[code]

[2017-09-26 13:23] AllenBW commented on #74
@abellotti GOSH YES!!!! This would save the day

[2017-09-26 21:15] abellotti opened #82 "Need the ability to add just created vms to a service"
Proposed signature:

[code]

provider reference should support

[code]

Normal action response signature:

[code]

[2017-09-26 21:16] abellotti commented on #82
ping @gtanzillo upcoming

/cc @imtayadeway or @jntullo

/cc @gmcculloug

[2017-09-26 21:41] Fryguy commented on #82
What is the use case for this?  I would expect this to be a backend thing, and not something exposed via the API.  That is, "just created VMs" should be a function of refresh bringing the VM record in existence, and then it would automatically link to the service record behind the scenes.

[2017-09-26 21:46] gmcculloug commented on #82
The use case is for resources created through Ansible Playbooks since we do not have visibility into what was created.  During service ordering of a playbook this feature will allow the playbook to connect back and identify the provider resources it was responsible for generating.

[2017-09-26 22:04] Fryguy commented on #82
Ah I see...so it's not actually creating vms in the database, but hinting that "this vm that was created is actually this service item".

[2017-09-27 17:47] #74 closed

[2017-09-29 13:53] chriskacerguis opened #91 "[RFE] Expose custom branding data in the API (not filesystem)"
Service UI should be able to support Branding customisation like in Ops UI.

There are 3 Configuration options available in “Custom Logos” in Configuration

- Custom Logo
- Custom login & 'About' Screen background image
- Custom Login Panel Text

From: https://www.pivotaltracker.com/story/show/149340169
and
https://docs.google.com/document/d/14SSfpUQtZ52mEv4mW1wPO-KYi52_qWtHGSk83EuhKsA/edit

[2017-09-29 17:52] chriskacerguis opened #92 "[RFE] Provider and OS images API"
x-post from: https://github.com/ManageIQ/manageiq-ui-service/issues/1038

It would be super great if the api could serve provider and OS images (by images, I mean the .svg that are generated and stored in public/assets/svg).

- will ensure consistency of icons across UIs
- will reduce bundle size of sui assets
- will be super cool

This discussion is kinda related but also kinda different: https:/

[2017-10-01 11:40] cben commented on #28
Tangentially relevant: https://github.com/ManageIQ/manageiq/issues/13167 (changing only endpoint does not queue revalidating its auth).

[2017-10-03 00:00] chriskacerguis opened #96 "Investigate performance issues with REST API"
Note: This is reported by Loic

- Logging is pretty slow, there is a top progress bar that is providing some information… We should look at some animation at the centre of the page to be more informative..
- More I am using the UI faster it seems to be.. this is may be an impression…
- Clicking on My Service is the slowest thing.. changing page in My Service is also Slow
- Once the UI was complete

[2017-10-03 00:01] chriskacerguis commented on #96
Here are some of my thoughts on the matter:

This is likely true.  As you use the SUI, things get cached (both browser) and (I'm guessing) in the DB.

This pages does a LOT of calls because we have to do a lot of look ups.  Tracking back to our meeting today, per what Jason said perhaps we can look at returning more data in the calls vs. having to do calls to get various data.  That said, I'm not

[2017-10-03 13:43] jntullo commented on #82
related ManageIQ PR: https://github.com/ManageIQ/manageiq/pull/16082

[2017-10-03 15:57] miq-bot opened #98 "Token based access still does a lot of authorization in API"
When you access the rest API with a token, it still does a LOT of authorization.  It only saves 2 or 3 queries over logging in every time (in particular it saves inserting into the audit log), but you can see it re-access the user/group/tenant/product features/and entitlements over and over.

I think that on getting a token we should cache the users entitlements / product features, and reuse that

[2017-10-03 15:57] Fryguy commented on #98
Related to #96

[2017-10-03 15:58] Fryguy commented on #98
cc @abellotti @imtayadeway

[2017-10-05 15:29] chriskacerguis opened #108 "Filters vs query params for endpoints"
In working with the API we have noticed that some endpoints use filters while others use ~~OPTIONS~~query params.  I think if we could work towards adding options for all endpoints that would give us a performance boost (at least on the client side)...every little bit helps.

Thoughts @AllenBW @gtanzillo?

/cc @Loicavenel @jonnyfiveiq @Fryguy @ohadlevy @bascar

EDIT by @Fryguy: Changed the OPTIONS

[2017-10-05 15:29] chriskacerguis commented on #108
Related to this https://github.com/ManageIQ/manageiq-api/issues/96

[2017-10-05 15:30] chriskacerguis commented on #96
/cc @ManageIQ/core-business

[2017-10-09 11:25] chriskacerguis commented on #91
Also need to add a way to add custom links for the help menu.

[2017-10-09 18:15] Fryguy commented on #91
If this gets implemented we may want to discuss the "right" way to do it.  I believe right now there are multiple ways to do branding via MiqServer-level settings as well as tenant level settings.  In the rearch, we are going to possibly need a [new way to do it](https://github.com/ManageIQ/manageiq-design/issues/32#service-providers), so whatever is done should be future-proof.

[2017-10-09 19:07] Fryguy commented on #108
Not sure I understand where OPTIONS and filters overlap.  The purpose of OPTIONS is to give metadata about an endpoint in general, such as what are all of the possible attributes.  filters are a run-time thing where you say you want or don't want particular values.  While I don't disagree that OPTIONS for all endpoints would be useful, I don't understand the comparison with filters.

[2017-10-09 19:12] chalettu commented on #108
I think @chriskacerguis you maybe getting confused with the http verb "options" vs the request format differences that we sometimes call options vs filters in a "get" request.  I think @AllenBW you have dealt with filters more a bit lately so chime in with an example of what Chris meant.

[2017-10-09 19:14] AllenBW commented on #108
`http://localhost:3001/api/event_streams?expand=resources&filter[]=target_id%3D10000000002102&filter[]=target_type%3DVmOrTemplate&filter[]=timestamp%3E2017-10-2`

vs

`http://localhost:3001/api/vms/10000000002102/metric_rollups/?capture_interval=hourly&expand=resources&start_date=2017-10-9`

The former requires more work to formulate a call where as the latter  requires less

[2017-10-09 19:44] Fryguy commented on #108
Does this make the API slow or just somewhat unwieldy?  I ask because this was linked to #96

[2017-10-09 19:45] Fryguy commented on #108
Ah, just so we can agree on terminology so as not to confuse ourselves, I think we should use:

filters:
`http://localhost:3001/api/event_streams?expand=resources&filter[]=target_id%3D10000000002102&filter[]=target_type%3DVmOrTemplate&filter[]=timestamp%3E2017-10-2`

query params:
`http://localhost:3001/api/vms/10000000002102/metric_rollups/?capture_interval=hourly&expand=resources&start_date=2017

[2017-10-09 20:21] chriskacerguis commented on #108
@Fryguy I would agree that is the correct terminology (query params vs. options).  Per @AllenBW

So, it requires less "processing" so it's faster (maybe marginally, but something is better than nothing)

[2017-10-09 21:45] AllenBW commented on #108
OOOOOO query params, love it @Fryguy 🙇‍♀️

[2017-10-12 21:37] chrisarcand opened #120 "Fill out README"
Doesn't give a description, says it's on RubyGems even though it's not, etc. Should update all this to make things clear to project newcomers.

[2017-10-13 15:01] #82 closed

[2017-10-15 08:45] cben opened #125 "double slash after host `http://127.0.0.1:3000//api` causes error"
[code]
Not sure RFC-compliant to pass an extra slash, but easy to do it concatenating parts to base URL and user gives base url ending with `/`...  (seen in ansible based on python client)

Sounds like when it routes to controller it dons normalize to `/api`, but then when parsing which collection it refers to it does simple "after 2nd slash is collection name" on original url?

api.log:
[code]

[2017-10-19 13:18] chrisarcand opened #134 "Rein in message passing to `Object` in collection config"
https://github.com/ManageIQ/manageiq-api/blob/c5cc04a2ae95b8ac89436ceb25b774f41eff1a58/lib/api/collection_config.rb#L7-L13

As brought up on Gitter by @himdel, we should rein in how we handle the issue fixed by this rescue. We're currently still sending the message (calling the method) unrestricted on the config object, so you can send things like `display` (which writes to stdout), etc. That's le

[2017-10-19 13:21] himdel commented on #134
Traceback of the case where this makes the API output a lot of stuff on any /api access :+1:

[code]

[2017-10-19 14:11] abellotti commented on #134
ping @jntullo, the outstanding issue we have with the normalizer where the recursion is not calling normalize_hash with the type _might_ be the reason why these exceptions are happening in collection config []  in the first place. Can you take a look ?  in which case with your fix we could actually remove the above rescue.  Thanks.

[2017-10-19 14:15] jntullo commented on #134
@abellotti I did investigate this, and for the cases that I saw, the type *is* being passed in, because it is the name of the attribute. Did you have a more specific case that I could take a look at?

[2017-10-19 15:28] abellotti commented on #134
remove that rescue and run the automate_specs rspecs, you'll see that exception in action.

[2017-10-19 15:35] imtayadeway commented on #134
@chrisarcand @himdel I think the discussion in https://github.com/ManageIQ/manageiq-api/pull/83#discussion_r142692900 is relevant in here. My proposal is if we merge https://github.com/ManageIQ/manageiq/pull/16138 we can go ahead and remove the calling code that is causing us to send all these messages to `Config::Options` and only send it sane things i.e. things that we have a reasonable expectat

[2017-10-19 15:45] himdel commented on #134
IMO the problem is a bit further away:

By using `Config::Options` instead of something else, we're arbitrarily limiting the names of allowed keys in the config. Furthermore, we're not limiting it to a set that's under our control, we're limitting it to a set determined by the ruby standard library and a couple of gems.

That sounds like a recipe for disaster for *any* use :).

(Unless I'm missing

[2017-10-19 15:53] chrisarcand commented on #134
As I mentioned in the blacklist PR, replacing that gem is very likely *not* trivial unless @Fryguy can give some other insight. A solution such as the blacklist or what @imtayadeway is describing seems appropriate for now (and perhaps permanently)

[2017-10-19 15:59] Fryguy commented on #134
Yeah, it's non-trivial to replace that gem.  config gem has an [internal blacklist](https://github.com/railsconfig/config/blob/master/lib/config/options.rb#L136-L137), and they are pretty good about [accepting PRs to update it](https://github.com/railsconfig/config/pull/167).  I could also see having our *own* blacklist in Vmdb::Settings, which is easier to update in a pinch, and then we can add s

[2017-10-19 16:09] Fryguy commented on #134
I *thought* I had an open issue for this, but one of my "future plans" with settings.yml is to have some kind of validation on it, so that people touching Advanced Settings can't break the system.  So, we would have a way to walk the entire settings, validate against a whitelist of acceptable keys and perhaps values, or value types, as well.  Closest I could find was this comment I made a while ag

[2017-10-20 12:11] AllenBW opened #136 "Expose api setting `max_results_per_page` to the api"
As a follow on to #113 UIs would benefit from being able to communicate when there is a hard stop on pagination of results, will prevent showing the user things they can't do

<3

[2017-10-20 13:28] abellotti commented on #136
In api.yml, we can just add api as an exposed category in settings.

[code]

so GET /api/settings

[code]

GET /api/settings/api/max_results_per_page should also work just like GET /api/settings/product/maindb does but it does not.  Probably a bug,  /cc @imtayadeway can you take a 👀  ?

[2017-10-20 15:40] chrisarcand commented on #136
@AllenBW The settings call solution that seems to be accepted here is fine; to be fair on knowing the limit *in the paginated calls* is usually not a thing, and just knowing your max results is usually the norm. See the Google Analytics or GitHub V3 API as examples.

[2017-10-20 15:47] AllenBW commented on #136
Hi @chrisarcand 👋

Yep! I'm down with what was proposed above, unsure what examples you are referring to. Just looking to avoid the situation of user surprise, where the resulting behavior does not match the expected behavior.

[2017-10-20 16:46] imtayadeway commented on #108
I'm leaning towards 👎 on this. To me, the filter is just another query param, it's just one that takes multiple values. What's more, this is the standard Rails Way to handle this scenario. Is there a plugin or similar in angular that could help make those calls easier to formulate?

The problem I foresee is that this could easily become a slippery slope. If we start adding separate params for ever

[2017-10-20 16:51] imtayadeway commented on #96
@chriskacerguis can you identify what conditions would need to be met in order for us to close this issue? It seems open-ended - perhaps (if this is intended to attract discussion around these issues) either a talk article or perhaps open smaller, more actionable issues?

[2017-10-20 20:26] Fryguy commented on #134
If you are just checking for the presence of a key, then perhaps `Settings.marshal_dump.include?(:authentication)`

The method marshal_dump is an OpenStruct method that just returns a Hash of the keys, which you can then use as a lookup table.

[2017-10-25 22:09] imtayadeway opened #146 "n+1 query when requesting services"
When I:

[code]
I see that we have an n+1 problem:

#### The +1:
[code]

#### For every n services:
[code]

That's 6 round trips to the database for every service we render back. This is almost certainly the one of the root causes of any slow query times reported against the services API

[2017-10-25 23:11] abellotti commented on #146
Nice start on the analysis !!  Thanks @imtayadeway

One thing to look at is how we fetch the additional attributes being asked for in the renderer, maybe we can pre-fetch what's being asked for in a single trip to the DB. I think the reporting engine does that for performance.  /cc @kbrock our performance guru would have some wise advice for us !!

[2017-10-25 23:16] imtayadeway commented on #146
@abellotti you'll notice that in trying to find the simplest reproduction case I'm not requesting any additional attributes above:

[code]

[2017-10-25 23:18] abellotti commented on #146
Ahh ok, hopefully easier to isolate then.

For the SUI queries, they do ask for additional attributes, would be a different optimization then.  Thanks.

[2017-10-26 00:29] chriskacerguis commented on #146
Perhaps just start adding a single attribute, optimize / troubleshoot it, then add another, (wash, rinse, repeat)?

[2017-10-26 01:08] imtayadeway commented on #146
@abellotti @chriskacerguis regardless of what is going on with additional attributes, *every single query* is suffering from the problem as stated above. Let's try to fix this first, then examine what happens with more complex queries next.

[2017-10-26 01:08] abellotti commented on #146
@imtayadeway can you look at the queries above without the expand=resources ?

From the queries being made I'm thinking it's the custom actions we need to interrogate for each each service as we populate the actions for each service.

[2017-10-26 13:47] #134 closed

[2017-11-01 21:37] Fryguy commented on #108
@AllenBW Could you give an example of how you would write the event_streams one with query params?  I'm inclined to agree with you in that there shouldn't be 2 different ways to pass parameters, but I'm curious which is preferable.

[2017-11-02 16:27] chrisarcand commented on #108
I agree.

There are three usual ways to send arrays on the querystring that are used:

* `?numbers[]=1&numbers[]=2&numbers[]=3`
* `?numbers=1&numbers=2&numbers=3`
* `?numbers=1,2,3`

The reason filters are implemented as they are is because that's the standard Rails (and more importantly, Rack) convention established for passing arrays on the querystring:

[code]

I know that PHP and other communi

[2017-11-02 17:56] Fryguy commented on #108
I have a question on building the query string.  I hope you're not building them manually via string manipulation.  It's much better to use a library that does it for you...something like https://www.npmjs.com/package/query-string (which supports arrays in this syntax).

[2017-11-02 21:30] chrisarcand commented on #146
@imtayadeway and I did some spelunking and found two main causes of this issue, one of which is on the API to fix. The issue lies in the rendering code in the base controller. For every resource requested, the following is called:

https://github.com/ManageIQ/manageiq-api/blob/42813a23b65b485609033cbaa8d65041549b2e6b/app/controllers/api/base_controller/renderer.rb#L70-L87

### expand_actions (vali

[2017-11-03 01:05] imtayadeway commented on #146
From https://github.com/ManageIQ/manageiq-api/issues/146#issuecomment-341564249:

/cc @d-m-u @gmcculloug

[2017-11-07 20:00] Fryguy commented on #146
For CustomButton and CustomButtonSet, I'm not sure there much we can do about it tactically.  CustomerButtonSet is built using MiqSet, which internally uses the relationships table.  The way that table works, it's not possible to formulate a single query to get *all* of the sets and their children in a single query.

What *can* be done is typically to preload every service with their service_templ

[2017-11-07 20:15] Fryguy commented on #146
Oh wait, WAT?  why would we validate any model on a GET request?

[2017-11-08 03:48] chrisarcand commented on #146
@Fryguy and I worked on this tonight and came up with the following quickfix for the Euwe release: https://gist.github.com/Fryguy/7ebaf7e89490e00a0de564af3c5970b5

The result is a few large queries instead of the n+1 described, yielding a ~6x faster request. That is, an awful 30 second request with hundreds of services would now take around 5 seconds. A different 3.5s request now completed in .6s.

[2017-11-08 15:31] abellotti opened #192 "bulk query don't work if model guid is implemented as a virtual attribute."
problem exposes itself when trying to add support for bulk post "query" for /api/container_images
- see guid is an alias method to docker_id.

[2017-11-08 22:36] Fryguy commented on #146
Made an EUWE PR here: https://github.com/ManageIQ/manageiq/pull/16426

I'll have to forward port for other versions, but wanted to get the PR out there.  Yes, it's a dirty dirty HACK and I don't care. 😝

[2017-11-10 03:35] chrisarcand opened #197 "Routes don't utilize Rails::Engine mounting"
In the quick repo split, we just threw the routes from the core repo as-is in to the routes file here, where we just call `Rails.application.routes` directly.

One of the many benefits of `Rails::Engine` is to be able to isolate namespaces and mount separate routers. We should reorganize the router here to use `ManageIQ::Api.routes` and add it as a separate router in the core repo. This would enab

[2017-11-10 14:29] chriskacerguis opened #198 "[RFE] GraphQL"
Adding a graphQL interface for the API would be awesome (this would be an addition to, not a replacement)

[2017-11-10 14:29] chriskacerguis commented on #198
@miq-bot all_label enhancement

[2017-11-10 14:29] chriskacerguis commented on #198
@miq-bot add_label enhancement

[2017-11-13 17:26] himdel opened #203 "Tasks - missing delete support"
Right now, there is no support for `DELETE /api/tasks/123` (nor for `action: "delete"`).

We need one :). (for https://github.com/ManageIQ/manageiq/pull/16441 + https://github.com/ManageIQ/manageiq-ui-classic/pull/2708)

---

The idea is, when using tasks in the UI, via the API, there's no way to actually clear that task.

[2017-11-13 22:50] Fryguy commented on #146
Still working on this...turns out custom buttons are way worse, performance-wise on master/gaprindashvili.

[2017-11-13 22:51] Fryguy commented on #120
*all* of the new plugins are like this.  Someone (not me 😛 ) should probably go through each one and update it.  Maybe we can collaborate on some common set of base documentation?

[2017-11-14 04:02] chrisarcand commented on #120
You'll be finding a _lot_ of 'Oh yeah, all the plugins do this too' issues I'm reporting and fixing here in the API ^_^

[2017-11-14 20:48] jntullo opened #208 "href slug refactoring"
Spent some (probably too much) time attempting to refactor href slugs, but thought it was time for an issue around it...

Currently, the way of grabbing a resource's `href_slug` is via the [virtual attribute](https://github.com/ManageIQ/manageiq/blob/5059d08ba18312f600dfa5c4734168ab3c346467/lib/extensions/ar_href_slug.rb) which is essentially calling [name for subclass](https://github.com/ManageIQ

[2017-11-14 20:59] abellotti commented on #208
I agree the ones provided by the API should be consistent with the accessed collection.

When handing off objects to Ansible playbooks, we provide them href_slugs for accessing our objects via the API.  The model fetches the href_slug directly by calling the href_slug helper method in lib/extensions/ar_href_slug.rb so it's not always fetching them via API requests.  Grep for href_slug in the main

[2017-11-14 21:11] abellotti commented on #208
I wonder if in general we should overload build_href_slug for all collections in API, we're always starting the the type (collection) anyways and not the klass.

[2017-11-14 21:34] jntullo commented on #208
@abellotti that's what I was leaning towards after your first comment - it seems that the current virtual attribute works for what's needed when handing off objects to Ansible playbooks, but doesn't fit the purpose (just using the type) for the API.

[2017-11-14 21:55] chrisarcand opened #209 "Replace hide=resources for count purposes"
We currently use `?hide=resources` to hide href's in collections for the purposes of reducing the response when a client only cares about the count of the resources.

Instead of doing this, a more conventional, semantically proper, and performant way to do this is by either including the total count in the headers of the collection request whereby a client can then just request `HEAD /resources` t

[2017-11-14 22:00] chrisarcand commented on #209
cc/ @imtayadeway @AllenBW from https://github.com/ManageIQ/manageiq/pull/12694

[2017-11-14 22:35] AllenBW commented on #209
We *DO* use them quite often for sidebar counts.  I'm down for whatever!  If a change needs to be made lemme know and it'll be done

Ok now to the questions:
1. Are you saying that as a header or a proper route the performance of this call will have a lesser impact on server load?
2. Are you proposing the depreciation of `?hide=resources `?
3. Custom  headers as a means of grabbing metadata are a

[2017-11-14 22:50] chrisarcand commented on #208
Thanks for opening this @jntullo as you've basically outlined where I'm totally confused as to what's considered an `href_slug`. I think the linked BZ represents my thought best:

The bottom line is that in the API people expect a [URL slug](https://en.wikipedia.org/wiki/Semantic_URL#Slug) but it looks like it was written with class hierarchy in mind, which doesn't make sense (now, at least - mayb

[2017-11-15 14:05] AllenBW commented on #209
RE: and yah, `?hide=resources` is used when we only want the count of a query, none of the resources, actions, or paging

[2017-11-15 17:19] chrisarcand commented on #209
Yes; we need only respond with a count when all you're asking for is a count and optimize for that case, and while the `hide=resources` is a slight optimization this would be a much better one - and make more sense semantically. It's sort of a weird shoehorning of something that doesn't imply it's purpose in the querystring besides.

Yes; this is it's sole purpose (to my knowledge) and this new wa

[2017-11-15 18:05] Fryguy commented on #209
This should probably be discussed in the context of our discussion about moving to swagger, since the way the swagger API is documentation driven.

[2017-11-15 18:20] abellotti commented on #209
👍 on swagger, @mkanoor did a nice presentation/poc on that.

[2017-11-15 19:02] chrisarcand commented on #209
Yup!

[2017-11-15 19:03] jntullo commented on #208
Closed via https://github.com/ManageIQ/manageiq-api

[2017-11-15 19:03] #208 closed

[2017-11-22 15:24] imtayadeway commented on #96
Closing this in favor of the more actionable/specific https://github.com/ManageIQ/manageiq-api/issues/146. We can always open more issues along those lines with specific, actionable items in the future if necessary.

[2017-11-22 15:24] #96 closed

[2017-11-22 15:26] imtayadeway commented on #108
I'm closing this as there seems to be a consensus here, but feel free to continue discussion or reopen as necessary.

[2017-11-22 15:26] #108 closed

[2017-11-22 15:27] imtayadeway commented on #136
Closing as this seems to be resolved....feel free to continue discussion/reopen as necessary.

[2017-11-22 15:27] #136 closed

[2017-11-24 14:06] chriskacerguis opened #226 "[RFE] Supported actions API"
We need an api endpoint that would return the supported actions for VMs (things like snapshot_supported, etc)

[2017-11-28 16:53] imtayadeway commented on #198
I'm moving this issue to a Pivotal story and cross-linking....please feel free to continue discussion/track there

[2017-11-28 16:53] #198 closed

[2017-11-28 16:54] imtayadeway commented on #198
See https://www.pivotaltracker.com/story/show/153220319

[2017-12-05 10:24] cNeha opened #234 "[RFE] Downloading the Reports via API."
Looking for the API request for downloading the reports or exporting the reports

[2017-12-05 17:18] imtayadeway commented on #234
I created a pivotal story for this RFE here: https://www.pivotaltracker.com/story/show/153412719. I'll close this issue but feel free to continue discussion.

[2017-12-05 18:17] #203 closed

[2017-12-09 16:37] nmaludy opened #241 "[BUG] Adding attribute 'description' limits fields returned to only those in attributes but doesn't include 'description'"
# Steps to reproduce

### Send HTTP command (Postman)

[code]

### Response

[code]

As you can see no "description" is returned in the objects"

If you remove the `description` field the full VM object is returned with the additional attributes specified in the query.

### Edit

Appears that if i add any attribute present on the "base" object then it outputs just the fields specified in `attribut

[2017-12-09 16:49] nmaludy opened #242 "[RFE] Ability to limit fields returned to those specified in a query"
# Overview

When querying collections with lots of elements (in my case `vms`) and there are only a few attributes required to be returned, you still need to use `expand=resources`. When specifying `expand=resources` this causes the full base object (VM) to be returned which results in a _lot_ of data, slowing down the query performance.

**Example**

[code]
[code]

# Desired Behavior

What i real

[2017-12-09 17:34] abellotti commented on #241
That is the correct behavior, if you ask for specific attributes you’d just get those. It could be that description is nil thus not returned. If you get the VM with no attributes specified is description returned ?

[2017-12-09 17:38] nmaludy commented on #241
@abellotti ah yes, you're right description is NULL in the database.

I would expect that this would be returned and just set to `null` in the JSON object?

[2017-12-09 22:03] abellotti commented on #241
That is not the current behavior, by design. lotsa fields in some of those models. One option is for you to default above attribute access to null if not there.

[2017-12-10 16:59] chrisarcand commented on #241
@abellotti Wait what? That seems pretty confusing without any context; what's the reasoning for us wanting to have that designed behavior then?

[2017-12-11 16:06] imtayadeway commented on #234
On second thoughts, reopening for visibility

[2017-12-11 16:42] abellotti commented on #241
since early days we don't return nil values, that was for minimizing payloads. The confusion here because the client asked for the particular attribute (via attributes=...) and they don't see it.  From a semantics perspective, bug is that we should return it because they asked for it correct ?

[2017-12-11 20:27] chrisarcand commented on #241
Yes; as discussed in Gitter, let's go ahead and remove all this functionality around omitting attributes if nil and relying on nil'ing and removing encrypted attrs.

[2017-12-27 20:34] giofontana opened #256 "[BUG] Service_requests API is not considering same user from remote regions (like manageiq-ui-classic does)"
As far as I know, in a ManageIQ with global and remote regions, there are more than one user in users table that represents the same user (one for each region), as you can see below:

vmdb_production=# SELECT id, name, email, userid, current_group_id FROM public.users WHERE name = 'SPMIQ01';
       id       |  name   | email |            userid             | current_group_id
----------------+-----

[2018-01-04 15:20] evertmulder opened #260 "Cannot create working VM reconfiguration request using the API"
I try to reconfigure a VM using the API using the /api/requests API
I post the following body:
[code]

The request is accepted, but is not handled by the VMWare provider, I receive the following error message:
[code]

Investigating this issue comes down the API inserts the reconfiguration request different than the classic-ui. When looking in the database (miq_requests.options) inserted using the

[2018-01-05 10:55] evertmulder commented on #260
Update. I fixed the issue by changing

https://github.com/ManageIQ/manageiq/blob/eff25835d09506967a352eca720c2d5027b9173f/app/models/vm_reconfigure_task.rb#L43

from
[code]

to

[code]

[2018-01-08 19:18] #125 closed

[2018-01-08 20:02] #120 closed

[2018-01-09 06:25] chrisarcand opened #265 "404's are responded via HTML"
If you request any random garbage path, the default "page you were looking for doesn't exist (404)" HTML is rendered back to the client. We should be returning a JSON response.

[2018-01-09 14:21] abellotti commented on #265
we had that since v1 of the API, but got lost sometimes in 2.x with the refactoring to leverage rails routing for the collections.

[2018-01-09 16:28] imtayadeway commented on #265
@chrisarcand does this happen in production?

[2018-01-09 16:32] imtayadeway opened #267 "Remove validation on Authentication class"
...that it respond to `create_in_provider_queue`. This should always be the case, and if not, needs to be addressed.

Link: https://github.com/ManageIQ/manageiq-api/blob/756d14df2faffc13cbec50c25af74e22d3a8b1be/lib/services/api/authentication_service.rb#L5-L6

[2018-01-09 16:35] imtayadeway opened #268 "Remove check on user count prior to each request spec"
We need to check first that there's no test interaction involved, as outlined in the link below.

Link: https://github.com/ManageIQ/manageiq-api/blob/0fdf463b51a2cf519effd2cf62da809c3b7c38b4/spec/spec_helper.rb#L18-L19

[2018-01-09 16:41] imtayadeway opened #269 "Find a better way to test posts with query params"
There's an open issue for this in rake-test: https://github.com/rack-test/rack-test/issues/150. However, I don't see this moving ahead soon.

Alternatively, it may be better to respond to this test pain by figuring out a better way to implement this.

Links:
https://github.com/ManageIQ/manageiq-api/blob/47010cec9af5b80993df29af93a94cd9775ae1a5/spec/requests/providers_spec.rb#L370-L371
https://gith

[2018-01-09 16:46] chrisarcand commented on #265
@abellotti O_o How did routing work in V1?

@imtayadeway I don't know but had that thought as well, most projects I've been on this sort of problem varies between environments, you're right. All envs should be checked; in this case I was just in development (which should still respond appropriately, of course)

[2018-01-09 16:46] imtayadeway opened #270 "Don't stub API config in end-to-end tests"
This is a test smell and reduces our confidence in the system's integration.

Link: https://github.com/ManageIQ/manageiq-api/blob/fcc65d4e3a9449436ce4fbeb4868ad3660cbb68c/spec/requests/settings_spec.rb#L78-L87

[2018-01-09 16:53] imtayadeway opened #271 "Don't bypass authorization by rendering resources on OPTIONS requests"
The OPTIONS response for container deployments was rendering back resources in the response - bypassing both authentication and RBAC. The current implementation made a workaround for this - making authentication optional so as to give some protection to this data while preserving the CORS contract. The resources however are still freely given without going through RBAC.

This needs to be refactore

[2018-01-09 16:59] abellotti commented on #265
v1/early v2, Rails routing basically has 3 entries (one per method) for /api, api base controller did the rest (pun intended 😏  ).

[2018-01-09 17:00] imtayadeway commented on #265
@chrisarcand completely agree, I'm just struggling to remember the full reasons why we didn't get this fixed when it first came up. There's some discussion here that may be beneficial to link:

https://github.com/ManageIQ/manageiq/issues/9869

[2018-01-09 21:27] chrisarcand commented on #265
😐 (for @jrafanie)

[2018-01-10 18:21] abellotti opened #276 "Incorrect role identifier fo cloud_subnet subcollection"
cloud_subnets in api.yml currently uses cloud_tenant_show_list and cloud_tenant_show for referencing them as subcollection/subresource, probably should be cloud_subnet_show_list and cloud_subnet_show.

[2018-01-10 19:29] jntullo opened #277 "Move provider attribute validation to models"
A ton of validation is done on attributes for the creation of a provider within the Providers controller. This information is different from provider to provider, and should live within the provider itself so that it is easier to maintain and is more provider-specific.

For example, creating of an Azure provider would like to specify an `azure_tenant_id`, which is an alias for `uid_ems`. Because v

[2018-01-12 00:00] #276 closed

[2018-02-13 15:13] #260 closed

[2018-02-13 20:01] evertmulder commented on #260
👍 Thanks for fixing!

[2018-03-16 18:36] tjyang opened #350 "changing support_website and support_website_text string"
Hi There

According to R1 discussion with @allenBW, This could be an api bug.

R1: https://github.com/ManageIQ/manageiq-ui-service/issues/1400

[2018-03-26 17:13] fdupont-redhat opened #354 "[RFE] Add ability to create a Git backed automation domain"
It would be great to be able to create a Git backed automation domain through the API.
An example use case is bootstraping a ManageIQ appliance with domains managed with Git.
This would also be helpful in a CI/CD approach as only the dev environment would have non Git domains.

Associated RHBZ: https://bugzilla.redhat.com/show_bug.cgi?id=1600961

[2018-03-26 17:15] abellotti commented on #354
/cc @mkanoor something new for /api/automate_domains,  not sure if you had similar requirements from your neck of the woods.

[2018-03-26 17:23] Fryguy commented on #354
I thought we already had this from WAY back with automate import.

[2018-03-26 17:25] Fryguy commented on #354
I remember this statement from me: https://github.com/ManageIQ/manageiq/pull/9517#issuecomment-232982860  .  Trying to find the follow-up PRs, but I only see the "refresh git based automate domain".

[2018-03-26 19:20] fdupont-redhat commented on #354
I do agree with https://github.com/ManageIQ/manageiq/pull/9517#issuecomment-232982860, in that the Git repository should not be exposed on its own. I would expect an API call similar to:

[code]

The Git repository object would be created by the backend because the user creates a Git backed domain. Then, in a CI/CD context, there would be developers' domains, with a merge policy. Then, a tool like

[2018-04-03 14:18] abellotti opened #357 "Simply getting a subresource should return its actions"
GET /api/vms/5  as well as GET /api/providers/1/vms/5  should both return the vms/5 actions.

Currently the latter signature does not and is causing the manageiq-api-client to not allow vms operations on subresources.

Needed for: https://github.com/ManageIQ/manageiq-api-client/pull/61

[2018-04-05 23:32] imtayadeway commented on #226
Closing this as stale but feel free to reopen if there is still interest

[2018-04-05 23:32] #226 closed

[2018-04-05 23:32] imtayadeway commented on #92
Closing this as stale but feel free to reopen if there is still interest

[2018-04-05 23:32] #92 closed

[2018-04-05 23:33] imtayadeway commented on #91
Closing this as stale but feel free to reopen if there is still interest

[2018-04-05 23:33] #91 closed

[2018-04-05 23:33] imtayadeway commented on #22
Closing this as stale but feel free to reopen if there is still interest

[2018-04-05 23:33] #22 closed

[2018-04-09 15:44] fdupont-redhat commented on #354
@mkanoor what's your opinion on this one ?

[2018-04-10 08:07] fdupont-redhat commented on #354
Who is able to do that ? @abellotti @mkanoor

[2018-04-11 19:54] abellotti commented on #357
Actually, I am not sure about this.  This was never the case in earlier release.

I think the API clients could simply recenter the requests at the resource's primary URL, so we'd rely on actions listed in GET /api/vms/5.  What this would allow deeply nested QueryRelation::Queryable, and if done properly allow fetching subcollections at each level.

[code]

In theory :)

Closing this for now.

[2018-04-11 19:54] #357 closed

[2018-04-23 22:09] #77 closed

[2018-04-24 15:24] mzazrivec opened #366 "Unable to login with a newly created user"
How to reproduce:
1. In classic UI, create a new role, new group and a new user
2. try to login into the UI with the new user

You'll see the login fails.

During login, the following request is sent to API:
[code]

The json that comes back:
[code]

Inretestingly, logging in with `admin` user works fine.

[2018-04-26 19:37] abellotti opened #369 "Duplicate user id created when authenticating via ext-auth ldap"
In a configuration with external authentication and SSSD/LDAP:
- logging in to UI via userid in the UI creates one user object
- authenticating an API request as userid@domain creates a second user object.

This is on Fine release and UPN user objects (userid@domain) should be used for all.

[2018-04-26 19:38] abellotti commented on #369
/cc @jvlcek  this is the issue reported by @linuxboytoo

Let's chase this down,  should be all the same as per the /api LocationMatch in manageiq-external-auth.conf w.r.t REMOTE_USER attrs.

[2018-04-26 20:52] abellotti commented on #369
@linuxboytoo what is your external directory ?  AD, or one of the OpenLDAP variants ?

[2018-04-26 20:53] linuxboytoo commented on #369
Active directory

[2018-04-26 21:07] abellotti commented on #369
Thanks, Next question :)  You've configured ext-auth via realm join (http://manageiq.org/docs/reference/latest/auth/active_directory) or regular ldap (http://manageiq.org/docs/reference/latest/auth/ldap) ?

[2018-04-26 21:09] linuxboytoo commented on #369
http://manageiq.org/docs/reference/latest/auth/active_directory

[2018-04-26 21:19] abellotti commented on #369
@jvlcek can you double check where the unique UPN userid went in ?  @linuxboytoo is running on Fine-3, but I only saw domainname stuff in the appliance console in Fine-4.

[2018-04-26 22:01] jvlcek commented on #369
Ah! Good point @abellotti Yesterday I had only checked the top of the fine release.
The userid normalization code doesn't show up until Fine-4!

@linuxboytoo Could you upgrade to Fine-4?

[2018-04-26 22:02] linuxboytoo commented on #369
Not right now - we intend to move forward to G release after go live next week.  We are trying to work around this issue on fine-3.   So no love for fine-3? 😁

[2018-05-03 17:08] imtayadeway commented on #366
@mzazrivec I know that conversations about this issue have occurred variously on gitter etc.. - can you provide a few details here to help consolidate what we know;

1. What's the expected behavior?
1. Was there a time when the API performed the expected behavior, and
1. If so, can you identify a revision/release when the product did the right thing?

If you can also clarify the relationships betw

[2018-05-04 10:01] himdel commented on #366
[WIP answer, still looking for some details...]

@imtayadeway @mzazrivec is on PTO, I'll try to provide the details...

Ideally this should behave identically to the Rails login (TODO look up how that works).

Practically, the login just needs to not fail and needs to pick any group from `user.miq_groups` to be the `current_group`.

(In theory we could fail with a list of possible groups instead o

[2018-05-04 12:41] himdel commented on #366
@mzazrivec , @imtayadeway Given that Rails login doesn't work without `current_group` either after all, and that creating users via the API (almost) works too, should we consider it an UI bug instead, and close this issue?

Meaning https://github.com/ManageIQ/manageiq-ui-classic/pull/3894 (or a similar PR) would become the fix for this.

[2018-05-04 16:37] #270 closed

[2018-05-08 10:44] ahmbas opened #378 "Associated Services and Providers are not returned from generic object instance endpoint"
the json returned from ```https://{{manageiq_host}}/api/generic_objects/{{id}}``` does not contain any associated services or providers, even though the object has them.
Is there a separate endpoint that could provide the associated services and providers?

EX Post body:

[code]

EX response:

[code]

[2018-05-09 11:08] cben commented on #378
Hmm, sounds like one of those cases the API doesn't include something by default, but can if requested.
Found: #50
Try appending `?associations=vms,services` to the URL?

[2018-05-10 20:52] jvlcek commented on #241
I am closing this issue as it was resolved by https://github.com/ManageIQ/manageiq-api/pull/253

[2018-05-10 21:48] jvlcek commented on #242
Exercising this on upstream master it already works exactly as you are requesting it should.

[code]

What version did you encounter the behavior you reported?

Since this seems to be working correctly now, in upstream master this issue should be close.

[2018-05-14 14:05] #197 closed

[2018-05-15 14:18] himdel opened #381 "RUD for MiqTemplate (or just read & update)"
Recently @andyvesel created API endpoints for editing Cloud Templates - [create #337](https://github.com/ManageIQ/manageiq-api/pull/337), [read #130](https://github.com/ManageIQ/manageiq-api/pull/130), [update #341](https://github.com/ManageIQ/manageiq-api/pull/341) and [delete #328](https://github.com/ManageIQ/manageiq-api/pull/328).

However, there is no concept of editing **cloud** templates in

[2018-05-29 22:04] d-m-u opened #387 "hrefs for service dialogs are incorrectly expanded"
<img width="879" alt="screen shot 2018-05-29 at 6 03 36 pm" src="https://user-images.githubusercontent.com/16326669/40688035-a326796e-636a-11e8-979d-04e86fa36cdf.png">

I don't think that that href is valid. It's for a dialog field, a tag control.

[2018-05-31 19:50] d-m-u opened #388 ""undefined method `service_dialog_ident'"
"undefined method `service_dialog_ident' for #<Api::ServicesController:0x007fd53c1b89d8> Did you mean? service_ident",

You can see this error in the SUI when ordering a service dialog from a custom button.

[2018-05-31 19:53] Fryguy commented on #388
cc @gtanzillo

[2018-05-31 19:54] Fryguy commented on #387
cc @gtanzillo

[2018-06-01 02:42] abellotti commented on #388
looks like it's defined in the service_dialogs controller, but referenced in the service_dialogs subcollection which is problematic when included from the services or service_templates.

[2018-08-22 12:05] andyvesel commented on #381
@skateman @abellotti I was trying to update a template with PUT/PATCH requests, but it only updates attributes for local MIQ database and doesn't make any calls to Fog, so the image can't be updated on the Openstack side. Do we need it to be implemented this way?
I'm kind of stuck on this issue. So I'll appreciate any thorough and obvious details about this.

[2018-08-22 12:08] skateman commented on #381
IMO we should somehow merge the two functionalities (i.e. the one @andyvesel created and the universal one I was trying to do) and call the openstack-specific stuff when needed.

[2018-08-22 12:13] himdel commented on #381
What @skateman said :)

Just, 2 more points:

* please make sure you come up with an interface which can be generalized to any provider, no openstack-specific code in the API
* the UiWorker is not guaranteed to be able to communicate with any external provider, and the same goes for the API => the API call should create a task to talk to the provider

[2018-08-22 15:30] vconzola opened #456 "Add CloudVolumeType to v2v API for OpenStack"
When creating a TransformationMapping, the TransformationMappingItems look something like

{ source: '/api/data_stores/<ID>, destination: '/api/data_stores/<ID> }

Assuming mapping creation remains the same in the OSP case, in order for us to be able to map from VMWare Storages to OSP CloudVolumeTypes, they would need to be added to the API, and have the href attribute added to the model

[2018-08-22 18:30] bthurber commented on #456
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1620228

[2018-08-28 07:44] Hyperkid123 opened #459 "Enable bulk assignment of tags for users"
I am now working on tag assignment React component for users in MIQ. You can edit multiple tags for multiple users at once. If i want to use API i have to create one request per user to edit their tags. That is not very pretty sollution.

Is it possible to add bulk assignment of tags to users (like for vms of services)?

[2018-08-28 07:44] Hyperkid123 commented on #459
@miq-bot assign @skateman

[2018-08-29 14:13] bdunne commented on #456
If I understand the request, we need to expose CloudVolumeTypes API endpoint.

[2018-08-29 15:27] vconzola commented on #456
@bdunne That's correct. We need to display it in the IMS UI as part of infrastructure mapping for OpenStack.

[2018-08-30 16:52] #459 closed

[2018-08-30 16:53] skateman commented on #459
@Hyperkid123 here you go :beers:

[2018-10-10 14:12] himdel opened #489 "PhysicalChassisController - duplicate controller name"
`PhysicalChassisController` already exists, provided by `manageiq-ui-classic/app/controllers/physical_chassis_controller.rb`.

But thanks to the API defining a controller by the same name, accessing `/physical_chassis/show_list` now fails:

[code]

[2018-10-10 15:20] himdel commented on #489
The controller is actually namespaced right... so, possibly the culprit is something in graphql.

Not sure what that's doing there or why it gets called though.

[2018-10-11 20:36] jameswnl opened #491 "Query of subcollection resource in a provider is broken"
`providers/1/vms/10`
`providers/2/vms/10`

would give you the same VM which has db record id=10

Similarly with
`providers/1/folders/10`
`providers/2/folders/10`
Same folder object will be returned.

[2018-10-15 13:49] juliancheal commented on #491
@jameswnl I'll take a look.

[2018-10-17 15:37] Sahil-Ajmera opened #496 "verify_ssl not working for Tower through API"
I am having an issue adding Tower to my ManageIQ instance .

Error :Invalid Provider attributes verify_ssl specified

[2018-10-23 16:20] ThomasBuchinger commented on #354
+1 This feature would really simplify life for us.
Are you planning on supporting the other Import formats (zip, yaml) as well? One thing not mentioned until now, which would be crucial for us is the ability to specify the Tenant.

One thing you guys might want to keep in mind, when implementing that feature is:
There is a potential for producing conflicts in the `__domain__.yaml` if one tries to

[2018-11-05 12:53] himdel commented on #366
@miq-bot close_issue

This was resolved by fixing how new users get created - https://github.com/ManageIQ/manageiq-ui-classic/pull/3917

[2018-11-05 12:54] #366 closed

[2019-01-09 13:07] ZitaNemeckova opened #539 "Add/Remove CustomButton(s) to CustomButtonSet"
It's impossible to add/remove a CustomButton to/from CustomButtonSet via API but it's possible to change `set_data[:button_order]` that only says in what order buttons go. It would good to add it as well so UI can only call API and not use extra http request to do it :)

@miq-bot assign @skateman

Related to https://github.com/ManageIQ/manageiq-ui-classic/pull/4913

[2019-01-09 13:11] skateman commented on #539
I see two possible ways how this can be added to the API:
* `custom_buttons` as a subcollection of `custom_button_sets`, IMO this doesn't really make sense because a button can be also unassigned
* passing a `custom_button_set_id` when creating/editing a `custom_button` and doing the necessary db changes in the `Api::CustomButtonsController` under `create_resource` and `edit_resource`

I vote for

[2019-01-10 13:42] skateman commented on #539
Another idea thanks to @himdel: having a `before_save` callback on the `CustomButtonSet` models that maps `button_order` to the `members=` method:
[code]

I really like this idea, but I don't want to introduce asymmetry with other parts of the API that I don't know :worried: so it would be really nice if I'd have some input on these options from someone who understands the codebase a little better

[2019-01-10 15:14] djberg96 commented on #539
I guess I don't see the issue with making `custom_button` a subcollection of `custom_button_sets`. If you need to create an unassigned button, don't use the custom_button_set api.

[2019-01-10 15:19] himdel commented on #539
My concern is that we currently have 2 independent places where we list the custom buttons associated with the set (one as an array of ids in `button_order`, and the other as an unordered(? - my assumption) set in `members` (or `children`)).

If we had a nice way of having our subcollection, and custom-ordering it too, without that duplication, it would be perfect :).

[2019-01-10 22:51] gtanzillo commented on #539
@abellotti and I looked at this today

We were thinking that you could have an action on `custom_button_sets` that allows for assigning one or more buttons to the set

[code]
In addition to that we were thinking that it would also be good to allow assigning all the buttons in the set on the `create` and `edit`
[code]

[2019-01-11 13:31] skateman commented on #539
@gtanzillo the important part not to miss is the button order, just saying so we won't forget about it.

[2019-01-18 12:03] skateman opened #544 "Very first request sometimes causes Circular dependency error on ConversionHost"
@Hyperkid123 told me about his problem that sometimes his very first API request fails with a HTTP 500 and there's no deterministic way to reproduce it. When I was playing with the API, I also experienced this issue in production and found out that there's a [traceback](https://pastebin.com/cZ9Nxa1D) in the api.log. Then I looked into my local api.log and found out that I had those tracebacks all

[2019-01-18 12:07] skateman commented on #544
Hm, after thinking this through, there are actually 2 requests fired from the UI almost simultaneously, so this might explain my theory with the threads.

[2019-01-18 18:07] jrafanie commented on #544
yeah, 2 threads are trying to autoload at the same time.  This sounds very much like the issue we "worked around" using the permit concurrent loads.  Is this with the fix in #416?

[2019-01-18 20:01] skateman commented on #544
@jrafanie yes, this is happening with the latest master and the latest upstream build as well.

[2019-01-21 22:45] himdel commented on #544
Also seeing this.. https://gist.github.com/himdel/36eb11d45a33f076c91047098648ddbf

Happened to me during testing https://github.com/ManageIQ/manageiq-ui-classic/pull/5164,

URL http://localhost:3000/api/notifications?expand=resources&attributes=details&sort_by=id&sort_order=desc&limit=100

Status 500 Internal Server Error

Content-Type application/json; charset=utf-8

Data {"error":{"kind":"inter

[2019-01-22 23:38] jrafanie commented on #544
I couldn't recreate it this @skateman @himdel @Hyperkid123.  Can you try running with the rack lock debugging middleware for a few days:

Add rails lock debugging middleware to config/application.rb:
`config.middleware.insert_before Rack::Sendfile, ActionDispatch::DebugLocks`

If it gets the 500 error, please provide the following information:
`curl -L http://admin:smartvm@localhost:4000/rails/loc

[2019-01-23 09:23] skateman commented on #544
@jrafanie this might be a heisenbug :confused: I was able to reproduce this only once by accident since I inserted the middleware. However, the `/rails/locks` was is getting back with an empty response.

[2019-01-23 09:59] himdel commented on #544
Can confirm that after the request returns a 500, `/rails/locks` is empty.

But that makes sense really. If there is a locking problem, it gets resolved when that exception throws, right?

Managed to catch the locks a bit before, but not sure if this is already processing both api requests...

https://gist.github.com/himdel/f515442221c387746ffbe3adbcd65ee0

[2019-01-23 10:10] himdel commented on #544
But I can't reproduce the second time .. maybe something to do with the files being cached?

Changing `activesupport-5.0.7.1/lib/active_support/dependencies.rb:510`:

[code]

And hoping this will happen again.

[2019-01-24 15:41] himdel commented on #544
This is what my /api/notifications endpoint returns: https://gist.github.com/himdel/b762953ab803d9c60e3ea81b76974b71

[2019-01-28 12:45] himdel commented on #544
Got a fresh one: `Circular dependency detected while autoloading constant MiqAlertStatus`

locks: https://gist.github.com/himdel/f839ec7ae39198a69185c0f5c28b7267

[2019-01-28 19:52] jrafanie commented on #544
@himdel @Hyperkid123 @skateman I opened PR #550 with the first thing I got to work.  Details are there.

[2019-01-29 13:37] JPrause commented on #388
@d-m-u is this still a valid issue? If yes, lease remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:37] JPrause commented on #387
@d-m-u is this still a valid issue? If yes, lease remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:38] JPrause commented on #378
@ahmbas is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:39] JPrause commented on #369
@abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:40] JPrause commented on #350
@tjyang is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:40] JPrause commented on #277
@gtanzillo @abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:40] JPrause commented on #271
@gtanzillo @abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:41] JPrause commented on #269
@gtanzillo @abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:41] JPrause commented on #268
@gtanzillo @abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:41] JPrause commented on #267
@gtanzillo @abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:42] JPrause commented on #265
@abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:42] JPrause commented on #256
@giofontana is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:43] JPrause commented on #242
@miq-bot close_issue

[2019-01-29 13:44] JPrause commented on #241
@miq-bot close_issue

[2019-01-29 13:44] #241 closed

[2019-01-29 13:44] #242 closed

[2019-01-29 13:44] JPrause commented on #234
@cNeha is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:45] JPrause commented on #209
@abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:45] JPrause commented on #192
@abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:46] JPrause commented on #146
@abellotti is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:47] JPrause commented on #98
@abellotti @gtanzillo is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:47] JPrause commented on #28
@cben is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:47] JPrause commented on #27
@cben is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:48] JPrause commented on #26
@cben is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 13:48] #350 closed

[2019-01-29 13:58] jvlcek commented on #369
This issue was resolved  then the userid normalization code was introduced in Fine-4

I am not able close this. @JPrause Please close.

[2019-01-29 14:08] #369 closed

[2019-01-29 18:37] abellotti commented on #265
Returning now the json on bogus url's so we're good.

[code]

[2019-01-29 18:37] #265 closed

[2019-01-30 22:50] cben commented on #26
Unlikely that o be addressed, but valid.
@miq-bot remove-label stale

[2019-01-31 13:42] cben commented on #27
Would still be nice, but in itself it's minor pain point, closing.
#28 is more significant.

[2019-01-31 13:42] #27 closed

[2019-01-31 13:53] cben commented on #28
This remains a big pain point in using the providers API.
UI mostly uses blocking foreground validation (during provider edit).
Background validation may be OK for some "blind" API flows, but is very awkward in any scenario when you care whether it worked.
@miq-bot remove-label stale

Technical risk: foreground validation from API server may not work in deployments where only some zones have conne

[2019-02-04 18:58] djberg96 commented on #491
@jameswnl @juliancheal Could this be because the other provider id is really just the network manager or storage manager for that cloud manager?

[2019-02-04 19:40] jameswnl commented on #491
As far as I can recall, they are different providers/managers not necessarily related.

[2019-02-04 19:49] djberg96 commented on #491
I was not able to duplicate what you're describing. I was able to specify a different provider and get the same resources, but that's because the other provider was a network provider with the cloud manager as its parent.

[2019-02-04 20:47] jameswnl commented on #491
I am able to pull in the same `vm` from a `Tower` provider and a `rhev` provider

[2019-02-05 16:21] jameswnl commented on #491
@djberg96 ok this one should have them all
http://pastebin.test.redhat.com/708055

[2019-02-05 17:11] djberg96 commented on #491
Interesting. Does it happen for other types of resources? Or just vms?

[2019-02-05 17:34] jameswnl commented on #491
I think custom_attributes as well

[2019-02-05 20:33] #544 closed

[2019-02-06 20:37] JPrause commented on #98
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:37] #98 closed

[2019-02-06 20:37] JPrause commented on #146
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:38] JPrause commented on #192
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:38] #192 closed

[2019-02-06 20:38] #146 closed

[2019-02-06 20:38] JPrause commented on #209
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:38] JPrause commented on #234
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:39] JPrause commented on #256
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:39] JPrause commented on #267
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:39] #267 closed

[2019-02-06 20:39] JPrause commented on #268
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:39] #256 closed

[2019-02-06 20:39] #234 closed

[2019-02-06 20:39] JPrause commented on #269
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:39] JPrause commented on #271
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:40] #271 closed

[2019-02-06 20:40] #269 closed

[2019-02-06 20:40] JPrause commented on #387
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:40] JPrause commented on #378
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:41] #378 closed

[2019-02-06 20:41] #387 closed

[2019-02-06 20:41] #388 closed

[2019-02-06 20:42] JPrause commented on #277
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:43] #277 closed

[2019-02-06 20:45] djberg96 commented on #491
Yep, seeing the same thing, it's like it's ignoring the provider ID.

[2019-02-06 20:57] djberg96 commented on #491
Hm, I don't see a subcollection or subresource action defined for vms on providers.

[2019-03-07 15:28] #539 closed

[2019-03-29 19:07] thearifismail commented on #489
Could not reproduce the problem when using master stream and no bundler.d/overrides.rb used.
<img width="1434" alt="physical_chassis" src="https://user-images.githubusercontent.com/40067075/55256710-1a07b300-5234-11e9-9270-63ff24bbccff.png">

Could reproduce the problem when "bundler.d/overrides.rb" was used to load "manageiq-api".

[2019-04-01 20:18] jrafanie commented on #489
@thearifismail asked me to take a look at this... I can't recreate this.  I can envision the only way this can occur:

[code]

Something tries to autoload the constant `PhysicalChassisController` using the ` "/Users/joerafaniello/.gem/ruby/2.4.5/bundler/gems/manageiq-api-55621be8daa6/app/controllers/api"` from the load path.  The constant defined by that file is `Api:: PhysicalChassisController`.

[2019-04-01 20:18] jrafanie commented on #489
@himdel ^

[2019-04-01 21:06] thearifismail commented on #489
To see if the problem was caused by overriding just the `manageiq-api` or other plugins also, I used `manageiq-graphql` and removed `manageiq-api` from the `bundler.d/overrides.rb`.  The problem went away.  It appears that the problem occurs only in dev mode and is limited to `manageiq-api`.

[2019-04-02 09:45] himdel commented on #489
@jrafanie I'm not quite sure if it's *limited* to dev mode or just less likely to appear otherwise, but for me, the surest way to recreate the issue in cases it went away was to simply `touch manageiq-api/app/controllers/api/physical_chassis_controller.rb`.

So, yeah, I'm guessing autoloader issues..

[2019-04-02 23:15] thearifismail commented on #489
@jrafanie Here are the steps to reproduce the problem:

1.  `git clone git@github.com:ManageIQ/manageiq.git`
2.  Run the server using `bin/rails s`
3.  Using rails console, add a couple of physical chasses using
`chassis = ManageIQ::Providers::Redfish::PhysicalInfraManager::PhysicalChassis.new( :name => "my_redfish_chassis")`
`chassis.save!`
`chassis = ManageIQ::Providers::Lenovo::PhysicalInfraMan

[2019-04-08 15:51] rvsia opened #574 "Server error (500) returned after editing Catalog item with used name"
`Services > Catalogs > Catalogs > Configuration > New/Edit`

**Description**
- When you add a new Catalog with used name it returns 400 error
- However when you edit some Catalog and change its name to used name **it returns 500 error**

`http://localhost:3000/api/service_catalogs/45`

**body**

[code]

**response**

500 Interval Server Error

[code]

[2019-04-12 14:18] himdel commented on #574
[code]

[2019-04-22 14:42] #496 closed

[2019-04-30 10:35] Hyperkid123 opened #580 "Endpoint for provider regions."
Is it possible to create endpoint to list provider regions?

expected output is this:
[code]

Currently is done by this method in ui-classic: https://github.com/ManageIQ/manageiq-ui-classic/blob/d8898f12e852b23bb0fceaefb9614a956a828a9c/app/controllers/mixins/ems_common.rb#L562

I want to be able to get provider regions for specific provider type (currently just Cloud providers). It does not have t

[2019-04-30 10:36] Hyperkid123 commented on #580
@miq-bot assing @skateman

[2019-04-30 10:38] Hyperkid123 commented on #580
@miq-bot assign @skateman

[2019-04-30 17:04] #580 closed

[2019-05-07 11:38] Hyperkid123 opened #585 "Endpoint to validate (Cloud)Provider credentials"
I need an endpoint that will validate credentials for provider `connection_configurations`  (endpoints, amqp, rsa).

Currently is done in ui-classic. For cloud managers its `/ems_cloud`. There is also some strange attributes mapping. The `type` attribute is mapped to `emstype` for some reason and so on. I would like to keep the API attribute names.

[2019-05-07 11:38] Hyperkid123 commented on #585
@miq-bot assign @skateman

[2019-05-07 11:40] skateman commented on #585
My quick idea is to add a `POST /api/providers/validate` endpoint that would handle any supported provider. What do you think @gtanzillo @abellotti ?

[2019-05-23 18:44] djberg96 opened #595 "[V2V] Private key information should be filtered out in log"
When submitting private key information the private key information is being logged into the evm.log or api.log (or both). This needs to be filtered out.

At the moment this is not easy to remove because the filters are largely a series of hard coded keys set in `Vmdb::Settings::PASSWORD_FIELDS`. I think we would have to temporarily redefine `Api.encrypted_attribute` to make it work.

[2019-05-23 18:56] Fryguy commented on #595
Ideally this should be made pluggable so a plugin can bring its own set of filtered keys.

[2019-05-29 08:33] skateman opened #601 "Subcollections for displaying resources under VMs"
We're reworking the reconfigure VM form in the UI and the goal is to make it API-driven. As far as I understand the API, the reconfiguring itself is doable through the `/requests` endpoint by sending a `POST`. However, there are some things that aren't available through the API and we'd need them as subcollections under VMs:
* [ ] Disks - https://github.com/ManageIQ/manageiq-api/pull/598
* [ ] Net

[2019-06-05 12:15] martinpovolny commented on #601
Who can help here, please, @agrare? @gtanzillo ?

[2019-06-05 12:23] agrare commented on #601
@skateman @martinpovolny network devices are guest_device with device_type "ethernet".  There is an association off of hardware e.g. `vm.hardware.nics` which gets you just the network cards.
Similarly for cd drives, these are disks with a device_type of "cdrom" and you can get to them from `vm.hardware.cdroms`

[2019-06-05 12:49] skateman commented on #601
@agrare I know look at the links for network devices and cdroms above. The problem is that there are some "exotic" fields in both cases :disappointed:

[2019-06-05 12:55] agrare commented on #601
What do you mean by exotic?  Like `:vlan => lan.name` not being in the guest_device record directly?  That sounds like we need to just be treating the `guest_device.lan_id` just like any other relation that needs to be resolved via the API

[2019-06-05 13:03] skateman commented on #601
@agrare sort of, my problem is the if-else and the different behavior of vcloud network devices:
[code]

[2019-06-05 13:32] agrare commented on #601
We should just drop that weird vmware cloud manager case, this should be overridden by a CloudManager::Vm subclass

[2019-06-05 13:38] skateman commented on #601
@agrare great, can someone please create it?

[2019-06-05 16:58] martinpovolny commented on #601
@agrare : thanks for the consultation. Just to get the priorities right: This is for the next release. We do not need it right now. We just do not want it to be forgotten.

The UI work that would be using this API is blocked, but we do not plan or need to have this in the release.

Am I correct, @skateman ?

[2019-06-05 17:04] martinpovolny commented on #601
@skateman : Thank you for tracking the missing APIs and trying to resolve it. If you have cycles and cannot move forward with this one, take another form/case from the list and evaluate what's the API status there.

If we know what APIs are missing for each form, we can talk to the management with a plan and a guesstimate. And that is more that we where able to do before.

[2019-06-25 18:02] Fryguy commented on #489
Hugh step back but why is controllers/api on the load path? That alone feels like recipe for disaster, because it effectively unnamespaces from autoloads point of view

[2019-06-25 18:10] tadeboro commented on #489
I can replicate the error by performing the following steps:

 1. Checkout latest master branch of `manageiq` core repo.
 2. Remove all overrides from `bundler.d`.
 3. Run `bin/update`.
 4. Add `override_gem "manageiq-api", :path => "/path/to/manageiq-api` to overrides, where `/path/to/manageiq-api` repo has checked-out latest master.
 5. Visit http://localhost:3000/physical_chassis/show_list

If

[2019-06-25 18:21] jrafanie commented on #489
Good point.  I believe I tried removing the controllers/api from the autoload path at some point and it was a disaster.  It's probably the best thing to do even if it's breaks everywhere.  I'll see if I can dig up the problems I encountered when I did that.

[2019-06-25 18:41] Fryguy commented on #489
Taking it a step further, when you put a directory on the autoloads path, that implies the directory name is not in the namespace (e.g. we don't have Mixins::PasswordMixin).  The fact that Api:: is a thing should preclude it from being on the autoload path

[2019-07-01 13:26] himdel commented on #28
This would be a problem. The API or UI workers should never connect to the provider.

I think the best way of making this work would be for the API to return with a task_id, the UI has a `API.wait_for_task(id) => Promise` mechanism to pick that up.

[2019-07-01 13:33] djberg96 commented on #595
Moved over here: https://github.com/ManageIQ/manageiq-v2v/pull/996

[2019-07-01 13:33] #595 closed

[2019-07-02 09:14] cben commented on #28
Thanks for the definite statement :+1:

But wait, when I add/edit a provider and click the [Validate] or [Save] button, is that blocking validation, or async?
https://github.com/ManageIQ/manageiq-ui-classic/blob/31cab08643e7/app/controllers/mixins/ems_common/angular.rb#L93-L99
IIUC, some providers support `validate_credentials_task` that launches async MiqTask:
https://github.com/ManageIQ/manageiq

[2019-07-02 09:36] himdel commented on #28
I can't be as definite about the details, sorry, I mostly just know the high-level thing that appliances are not guaranteed to see each other or the internet, so, anything talking directly is probably breaking in *some* setups.

But yeah, I think any such direct access should be treated as a bug.

There is also at least one ansible related API endpoint which creates such a task, and then directly

[2019-07-02 11:01] himdel opened #620 "POST /api/service_templates waits for task, indefinitely"
From gitter discussion :point_up: [June 19, 2019 10:15 AM](https://gitter.im/ManageIQ/api?at=5d0a0b30fbcc305cc4a81f66)

reproducer..

[code]

This creates a task and waits for it, possibly indefinitely...

[code]

(Obviously the long wait is because I had no `simulate_queue_worker` running.. but it stays trying to work even when the browser gives up.)

[2019-07-04 10:53] himdel commented on #620
:rofl: on my other machine...

[code]

[2019-07-23 14:49] himdel opened #630 "Saving dialog not using transaction"
When saving a dialog via the API, it looks like all the tabs (and fields, groups) get created *before* the dialog.

That's fine, but the operation is not wrapped in a transaction, so when dialog validation fails, those extra tabs stay created.

Worse, if those tabs have any `dialog_id` (when copying from a different dialog), that `dialog_id` will not get replaced by the new dialog id on validation

[2019-07-24 16:47] jvlcek commented on #354
This issue should be closed as the requested feature has been implemented. Please see:
https://github.com/ManageIQ/manageiq-api/pull/571

Can someone please close this? I do not have the necessary privileges to close this.

[2019-07-30 18:28] rvsia opened #637 "Get parent/children options for VMs"
**Description**

We are converting `Virtual Machine edit form` to data driven forms and it would be nice to have an API endpoint, which returns all VMs which can be selected as a child or parent for the edited VM.

**Links to code in UI**
https://github.com/ManageIQ/manageiq-ui-classic/blob/d1822704512634446b858017adf999e560d7c850/app/controllers/vm_common.rb#L1353 https://github.com/ManageIQ/mana

[2019-07-31 07:40] lpichler commented on #637
@miq-bot assign @lpichler

[2019-07-31 12:31] lpichler commented on #637
after discussion with @rvsia we need to add new endpoint for this. there is no possibility to use API filtering (no nested condition and GET request query limit)

@miq-bot unassign @lpichler

I heard that @d-m-u is going to working on It ? 😊 if not, feel free to assign it to me 🏇

[2019-08-01 11:18] d-m-u commented on #637
@miq-bot assign @d-m-u

[2019-08-01 20:46] d-m-u commented on #637
So I would be shocked if there weren't an existing way to do this that doesn't involve the overhead of _adding a new endpoint_ for something that seems trivial.

[2019-08-02 08:33] lpichler commented on #637
@d-m-u I don't want to shock you  :D but I am afraid that we need new endpoint because are API doesn't support nested expressions

we need to get vms  which you gen get by method [parent_choices](https://github.com/ManageIQ/manageiq-ui-classic/blob/a459a4823a30b138f44a412b8c10a1f969b1b19a/app/controllers/vm_common.rb#L898)

API request could like:

`GET /api/vms/:id/parent_choices` (maybe better n

[2019-08-04 21:35] lodgenbd opened #638 "[RFE] Add tag assignment for cloud volumes"
Currently it appears the tags method is not available for cloud_volumes. I see that other cloud resources were eventually added for tagging such as networks that were not previously available, so I wanted to request that this one be added. This is especially important given my other issue (https://github.com/ManageIQ/manageiq-providers-openstack/issues/495) I created discussing when creating a clo

[2019-08-04 23:20] lodgenbd opened #641 "[RFE] Expose network_port in the API"
Request to expose cloud network_port in the API for creation, deletion, add to instance, remove from instance, and tagging.

[2019-08-06 15:16] Fryguy commented on #637
Can you explain the feature here? What is a parent/child VM?  Do you mean genealogy? If so, do we support this in the current UI, because this feels like a feature that should not exist as it could be easy for a user to create a bad connection. cc @agrare

[2019-08-06 19:24] rvsia commented on #637
@Fryguy If you go in the UI to Virtual Machines and select one and in the configuration click on Edit VM, you can see a form, where you set: a custom identifier, description, parent VM and child VMs. Actually it’s on more places in the UI - templates, volume_templates (instances, workloads in UI.) API endpoint which describes what you can change: http://manageiq.org/docs/reference/fine/api/referen

[2019-08-13 13:10] ThomasBuchinger opened #649 "[RFE] Enable/Disable automate domains"
ManageIQ recently implemented the `create_from_git` action on `/api/automate_domains`. By default the new domain is set to disabled. This is by design, because there should be an administrator "approving" the domain, by enabling it manually.

However CI/CD pipelines need to enable the new domains automatically.
My particular use case involves generating Automate Domains on the fly, based on pull r

[2019-08-13 20:08] Fryguy commented on #649
As discussed, in my opinion this should already be possible since it's an attribute and attributes can be modified via PUT/PATCH

[2019-08-13 20:09] #354 closed

[2019-08-13 20:18] Fryguy commented on #641
cc @agrare

[2019-08-13 20:19] Fryguy commented on #638
cc @agrare

[2019-08-13 20:27] abellotti commented on #649
if exposed yes, but it is not today.  The API needs to be enhanced to support /api/automate_domains updates (post edit action or patch).

From miq_product_features.yml, looks like the user entitlement  to be associated with this action would be "miq_ae_domain_edit", so essentially adding:

[code]

in collection & resource actions for automate_domains.

base controller's update methods should handl

[2019-08-16 12:30] ThomasBuchinger commented on #649
I did some testing on my Ivanchuck appliance today. And just adding @abellotti snippet to `config/api.yml` does work for me

In theory you could already patch any attribute over API as it is today:

    PATCH /api/automate_domains/169
    {
        "enabled": true
    }

[2019-08-16 13:10] abellotti commented on #649
PR resolving this issue by @skateman: https://github.com/ManageIQ/manageiq-api/pull/647

[2019-08-16 17:45] lodgenbd opened #651 "[RFE] Add Tag Assignment for Cloud Tenants"
Requesting to add tag subcollection for cloud tenant.

[2019-08-16 23:38] lodgenbd opened #653 "[RFE]Standardize api methods available for all resources"
After getting involved with various code for a few months, I've found that there is no standard from what I can tell related to what methods are available for resources. Some resources have tagging available, some don't, but that's only because the code doesn't exist. Some resources have api methods available to access them, some don't, but, again, that's only because the code doesn't exist. I'd l

[2019-08-18 14:08] ThomasBuchinger commented on #649
You guys are faster with the implementation, than I am with setting up my development environment
Anyway is there anything I can do to get that feature into Ivanchuk down the line? Probably it is best to talk to RedHat support?

Second, I think nobody is currently working on an update to the API reference? I am going to open a PR

[2019-08-20 10:26] rvsia commented on #637
cc @martinpovolny

[2019-08-21 12:31] ThomasBuchinger commented on #649
@abellotti  ^

[2019-08-22 17:07] martinpovolny commented on #637
@Fryguy, @agrare : any progress on this?

[2019-08-22 17:12] agrare commented on #637
@martinpovolny any response to

?

This doesn't seem like something that we even need

[2019-08-22 17:16] martinpovolny commented on #637
What is wrong with the answer https://github.com/ManageIQ/manageiq-api/issues/637#issuecomment-518808941 where @rvsia points to a place in the UI where we are actually using this?

Does that mean that the feature can be removed fromt he UI?

[2019-08-22 17:19] agrare commented on #637
That doesn't answer if we need it, just that we happen to currently do it

That's what we're wondering.  I can't think of a use-case for why a user would need to manually modify this.  We set it automatically when provisioning from a template.  Outside of that I'm not sure why you would want to set it yourself.

[2019-08-22 17:36] martinpovolny commented on #637
Ok, understood. Neither can I, nor can @rvsia or @lpichler.

Who can tell that? Who is able to make a decision about removing the option from the UI?

[2019-08-22 17:39] agrare commented on #637
@Loicavenel can you help here?

[2019-08-22 17:54] Loicavenel commented on #637
@agrare always asked myself what is this feature about.. I will suspect this is after discovery you can create Genealogy.. I did test it and this is exactly what is happening... Difficult to remove the feature as he may be used by customers

[2019-08-22 17:59] martinpovolny commented on #637
Thank you @Loicavenel!

@agrare : is that enough to justify this PR?

(My motivation for pushing this is progressing with the rewrite of the UI as a SPA in React and Patternfly and UI work is blocked on this.)

[2019-08-22 17:59] agrare commented on #637
Okay, if we can't remove it then getting back to the original question...if we're letting users manually set parent/child I don't know that we can scope by anything.  The possibilities might just be all vms_and_templates on the ems.

[2019-08-22 18:13] martinpovolny commented on #637
@lpichler, @rvsia : can you answer that? To me it seems that yes, the possibility is everything on the set of parent emss except for the vms that are being edited.

I read @lpichler 's response: https://github.com/ManageIQ/manageiq-api/issues/637#issuecomment-516828298 as it is a performance issues? Multiple API queries would be needed?

@d-m-u indicated it should be simple https://github.com/Mana

[2019-08-22 19:25] rvsia commented on #637
@martinpovolny I am not sure that I can answer that. I posted the link to the code in UI which provides the options, that’s all I know about it. To be honest, I am little lost in all this - how the entities are different from each other (when they share the exact same code and the form.)

[2019-09-11 12:40] lpichler commented on #637
@martinpovolny we were walking thru with @rvsia and we need just endpoint  for parent_choices, as work started here https://github.com/ManageIQ/manageiq-api/pull/671

|Model|GET| Parent Choices| EDIT|Path in UI|
|-|-|-|-|-|
|Vm| 🆗   | ⛔️ | 🆗 |Compute->Clouds->Instances, Compute->Infra->Virtual Machines|
|Template(it is also VolumeTemplate and other descendants)| 🆗   | ⛔️ | 🆗 |Compute->Clouds->Temp

[2019-09-11 13:55] lfu opened #672 "[RFE] Rename service attribute display to visible"
Service attribute `display` is renamed to `visible` in ManageIQ/manageiq-schema#410.

An alias has been added so `service.display` still works. After all occurance of `service.display` have been replaced by `service.visible` in UI and API, the alias would be removed in a new release.

[2019-10-02 09:21] lpichler commented on #637
in the end we are able to do it thru existing api:
so we method
[code]
**1) Parent VM** (in VM edit screen of the *vm* )
[code]
**2) Available VMS** (in VM edit screen)
[code]

so we can convert query from the method:
[code]
ems_id is always same because there are only vms from the same provider in the game

[code]
so for **1) Parent VM** (in VM edit screen of the *vm* )
ids is [vm.id] and it coul

[2019-10-12 06:56] martinpovolny commented on #637
I wonder if we are dealing with number of VMs that are ok to process at once. Or if some form of pagination or filtering will be needed.

@lpichler : can you make an estimate on number of items we are dealing with here?

[2019-10-15 08:35] lpichler commented on #637
we are dealing basically with all VMs of provider(1) without edited VM or (2) VM's children) - so hundreds, thousands...

so pagination and filtering is useful to have.

not sure how what are your plans but I think that select with search would be enough.

[2019-11-06 12:48] skateman opened #699 "Endpoint for automate namespaces"
We need an endpoint for creating/editing (and probably others too) automate namespaces. It is neccessary for @brumik's react [rewrite](https://github.com/ManageIQ/manageiq-ui-classic/pull/6335).

The editable fields are `name` and `description` but in a flat model we also want to allow the parent somehow, at least for creation. IMO the endpoint should be a subcollection of the `automate_domains`,

[2019-11-06 12:58] fhlavac opened #700 "Add CRUD endpoint for automate class"
I need an endpoint for automate class CRUD operations. I am refactoring add/edit automate class form and I would like to use API.

Attributes to be editable:
- name
- display name
- description

@martinpovolny

[2019-11-06 13:00] fhlavac commented on #700
@miq-bot assign @martinpovolny

[2019-11-09 19:42] skateman opened #704 "Endpoint to retrieve tags under a category with descriptions"
I need a way to retrieve tags under a given category with tag descriptions (which are actually used across the UI as the title of the given tag). For now I have this request, that returns me with the tags under a category:

[code]

But the description is not part of the expanded tags, however, I found a solution to fire a second request that returns me the descriptions as well:
[code]

However, th

[2019-11-11 07:08] skateman commented on #585
@miq-bot rm_label stale
@miq-bot add_label pinned

[2019-11-11 10:47] martinpovolny commented on #704
Seems right now you really need 2 requests.

@abellotti : can you, please, take a look if we are not wrong?

[2019-11-11 11:33] martinpovolny commented on #704
https://www.manageiq.org/docs/reference/latest/api/overview/query#expanding-collection

Here we have 1:n and after that a 1:1 so this is afaik unsupported.

[2019-11-11 19:54] Fryguy opened #708 "controllers/api should not be on the autoload_paths"
https://github.com/ManageIQ/manageiq-api/blob/9b2d09480c67eb316b350e3bc5b083a688f7f5b8/lib/manageiq/api/engine.rb#L15

This line should not exist because the controllers themselves are namespaced under `module Api`, and having it on the load path causes it to "de-namespace" during lookup.

This causes issues where similarly named top-level constants can confuse Rails' autoload search.  For example

[2019-11-11 19:55] Fryguy commented on #708
One this is fixed, we should change the ping_controller_spec back in UI classic to no longer do `describe ::PingController`, which is the only way to get around this issue.

[2019-11-11 20:15] Fryguy commented on #708
cc @jrafanie

[2019-11-12 14:23] abellotti commented on #704
maybe this:

[code]

[2019-11-12 14:29] skateman commented on #704
@abellotti yes! It works as expected. But what if I want all tags grouped by all categories, i.e. for the 2 dropdowns of the new tagging component?

[2019-11-12 20:29] #708 closed

[2019-11-12 21:51] Fryguy commented on #489
I think this can be closed now that the autoload_path no longer contains manageiq-api/app/controllers/api.

If anyone can reproduce on the latest code, please feel free to reopen,

[2019-11-12 21:51] #489 closed

[2019-11-13 12:52] himdel commented on #489
:+1: I just retried https://github.com/ManageIQ/manageiq-api/issues/489#issuecomment-479248848 and I can't reprodue anymore :)

[2019-11-15 14:42] evertmulder opened #710 "API returns InternalServerError when setting the offset greater than the count (for non admin users)"
API returns an 500 InternalServerError when an API call is made the offset parameter is filled with an value greater the the returned collection. This does not happen when using an super admin account.

# Steps to reproduce
[code]
From the api.log
[code]

Using Ivanchuk-1

[2019-11-18 09:55] martinpovolny commented on #710
the root cause here goes after `Rbac.filtered` behaving inconsistently:

`
Rbac.filtered(res, {:user => User.current_user, :offset=>"9999", :limit=>1000})
=> nil
`

vs

`
Rbac.filtered(res, {:user => User.current_user})
[]
`

Anyway we can handle this on the API side.

[2019-11-18 18:29] #710 closed

[2019-11-18 19:18] martinpovolny commented on #653
In most cases the answer is going to be: "Because noone wrote it yet."

@lodgenbd : please, if you have a more concrete requirement, create a more specific issue. Such as an issue listing all the collections that should have tagging but do not. I'll happily work on those.

This issue is like if you wrote "make the API better" or "complete the API" ;-)

Thx!

[2019-11-19 07:28] martinpovolny commented on #672
@lfu : what is leading you to the conclusion that a change is needed on the API side?

[code]

Thx!

[2019-11-19 07:29] #651 closed

[2019-11-19 07:29] martinpovolny commented on #638
closed via https://github.com/ManageIQ/manageiq-api/pull/685

[2019-11-19 07:29] #638 closed

[2019-11-19 08:23] martinpovolny commented on #491
Yes. When accessing `providers/1/vms/151` or `providers/3/vms/151` you get the same VM (with `ID=151`) regardless the fact that the VM does/does not belong to the provider (1 or 3).

However with `providers/1/vms` or `providers/3/vms` you get the correct list of VMs (associated with the provider 1 or 3 respectively).

I am not sure this has to be considered a bug. @abellotti : WDYI?

[2019-11-19 09:07] martinpovolny commented on #28
Foreground validation is no to be supported as it it against the logic of the project.

Provider validation is being addressed in a separate issue.

--> closing the issue

[2019-11-19 09:07] #28 closed

[2019-11-19 09:54] martinpovolny commented on #381
Ok, so this is relevant for:

https://github.com/ManageIQ/manageiq-ui-classic/issues/3944

Where we need to be able to create openstack images. Do we need an API action that can upload the image? Or just pass in a URL of it?

[2019-11-19 09:56] martinpovolny commented on #381
Anyway it seems that for this to move forward work in needed from the core and provider (openstack) side.

[2019-11-19 13:04] himdel commented on #381
This was never specified, and uploading would involve uploading a multi-gig image to the api appliance, potentially moving it to a different worker appliance and only then uploading to the provider. So, a public URL might be enough. (Cc @loicavenel, https://bugzilla.redhat.com/show_bug.cgi?id=1487114)

[2019-11-19 14:23] abellotti commented on #491
@martinpovolny interesting.  I think semantically it is a bug. i.e. more on a POST than a GET, one is asking to do an action on a vm subresource, but within the context of that provider. But should be consistent for all http verbs. I just don't know what status code is appropriate here, maybe just 404.

[2019-11-19 14:42] lfu commented on #672
That is good if there is no change to be done on API side for the `service.visible` rename. Just to make sure API is aware and ready for the change.
Thanks for looking into this!

[2019-11-26 15:48] martinpovolny commented on #491
@abellotti : If you think so, I'd fix the behavior to return a 404 in these cases.

It surely makes more sense to me that way.

[2019-12-02 14:38] #672 closed

[2019-12-04 08:41] martinpovolny opened #715 "Manifest upload endpoint for V2V"
Details in https://github.com/RedHatCloudForms/cfme-migration_analytics/issues/27

[2019-12-04 21:57] Fryguy opened #717 "[API] Convert to OpenAPI"

[2019-12-04 22:00] Fryguy opened #718 "[API] GraphQL based on OpenAPI"
Depends on ManageIQ/manageiq-api#717

[2019-12-06 14:42] mfeifer commented on #653
@lodgenbd can you please provide list of what you see as missing so that we can take action on it?

[2019-12-06 15:07] mfeifer commented on #456
fixed in https://github.com/ManageIQ/manageiq-api/pull/465

[2019-12-06 15:07] #456 closed

[2019-12-06 15:18] mfeifer commented on #381
cc @agrare

[2019-12-06 22:22] h-kataria commented on #574
was not able to recreate issue in UI, seems like this issue was addressed in UI with form conversion to react in https://github.com/ManageIQ/manageiq-ui-classic/pull/5139

@martinpovolny do we need to fix something on API side for this?

[2019-12-06 22:22] h-kataria commented on #574
@miq-bot assign @martinpovolny

[2019-12-12 09:21] martinpovolny commented on #574
This is consistent with other places. For example:

[code]

We probably should have a better generic way of handling this.

I am not sure, but maybe the right HTTP code to return would be "422 Unprocessable Entity".

Also the validation error should probably be better structured so that the UI can present it to the user and possibly a translation in the current locale shoud be returned.

Thoughts

[2019-12-12 10:57] himdel commented on #574
:+1:, but looks like we're using 400 in other places.

As for i18n vs the error message, maybe we should use a similar mechanism as notifications (`miqFormatNotification`) - serve a translatable format string and the parameters separately?
(Not sure if the API should be able to tell the current language.)

[2019-12-12 15:28] agrare commented on #715
@martinpovolny I expected this to live in the cfme-migration_analytics API

[2019-12-13 08:57] martinpovolny commented on #715
I missed that completely in the previous discussion. Ok

[2019-12-13 14:10] #715 closed

[2019-12-13 14:59] mfeifer commented on #26
Related to ManageIq/manageiq#18818

[2019-12-13 15:00] mfeifer commented on #26
cc @skateman @agrare @Hyperkid123

[2019-12-18 15:04] himdel commented on #381
The BZ was closed as WONTFIX,
closing this issue to match.

[2019-12-18 15:04] #381 closed

[2020-01-06 12:43] himdel commented on #620
@miq-bot assign abelotti
@miq-bot remove_label stale

[2020-01-06 12:51] himdel commented on #620
@miq-bot assign lpichler

(I just need somebody from the API team to at least take a look, since nobody has looked in the last 6 months :))

[2020-01-09 10:28] skateman opened #722 "Automation request with FQNAME"
I'm working on the new React/DDF dialog editor and player and trying to load some dynamic dialog fields through the API. I found the [docs](https://www.manageiq.org/docs/reference/latest/api/examples/automation_request) about how initiate an automation request, however, I can't really work further with the current request body format.

[code]

For the `uri_parts` object I'd have to implement a par

[2020-01-12 11:02] skateman commented on #722
I was able to backtrace this issue to the `MiqRequestWorkflow.parse_ws_string` method, that accepts this `uri_parts`. Is there any way to build the result of this method from the fqname instead of the `uri_parts`?

[2020-01-13 09:00] martinpovolny commented on #722
@tinaafitz : could someone from automate help with this a bit?

[2020-01-13 14:51] gmcculloug commented on #722
@skateman I assume you are asking for the player part as the editor some not be running the automate resolution.  @eclarizio Can you help identify the API calls that they want to make here, I know the current player does not use `automation_requests` to run the dynamic method for dialogs.

[2020-01-13 15:06] skateman commented on #722
@gmcculloug yes, we can't preseed the dynamic fields with the data from automate as we do it during serialization in the current implementation, so I need a solution to pull in the initial dynamic values.

[2020-01-13 17:20] eclarizio commented on #722
@skateman I *think* what you're looking for is here, maybe: https://github.com/ManageIQ/manageiq-api/blob/master/app/controllers/api/service_dialogs_controller.rb#L22. If you can't use this API directly, then this is probably at least the general idea of what you're looking for as to how we do it right now.

This ends up calling the `#content` method on the dialog model, which creates a new `Resou

[2020-01-16 18:45] mfeifer opened #724 "[RFE] Manage SmartProxy Affinity via API"
Manage assigning hosts and datastores to Embedded SmartProxies for particular zone via the API.

Be able to provision through multiple AWS accounts without setting up individual providers.

[2020-01-16 19:14] mfeifer commented on #724
See also: https://bugzilla.redhat.com/show_bug.cgi?id=1734573

[2020-01-21 15:56] fhlavac opened #726 "Notifications GET request returns wrong "count""
When request sent to
` /api/notifications?expand=resources&attributes=details&sort_by=id&sort_order=desc&limit=100`
then in a reply (picture below)  received `count: 11468`
![image](https://user-images.githubusercontent.com/50696716/72819177-159e0200-3c6d-11ea-94ea-d41ada2beb95.png)

I would expect that this value is the total notifications count of the current user but it isn't. In this case, the

[2020-01-27 10:11] skateman commented on #722
I guess so, I can figure it out. We had a discussion with @tinaafitz and @Fryguy last week and they both agreed that the current API-way of running automate jobs is painful, so I guess the issue will stay valid, but not really blocking me anymore.

@miq-bot assign @tinaafitz
@miq-bot rm_label question

[2020-01-27 11:59] skateman commented on #722
After digging deep in this world, my conclusion is that I still need this more fqname-friendly endpoint. All the current `ResourceAction` based implementation becomes useless in the moment when we "flatten" the dialog structure. Therefore, depending on the old structure would just introduce more tech debt :confused:

[2020-01-29 16:17] martinpovolny commented on #726
Investigation notes:

In `app/controllers/api/base_controller/renderer.rb` `collection_search` applies custom "search_condition" via a call to `notifications_search_conditions`.

However in `app/controllers/api/base_controller.rb` in `index` a call to `Api::QueryCounts.new` is done with `NotificationRecipient.count`.

So this is probably going to be broken everywhere where `*_search_condition` is

[2020-02-11 19:34] himdel opened #739 "Dialog field data - id coming as number, not string"
1. Create a dialog with a `DialogFieldTagControl` type of input (select a category to populate the values)
1. Query the service_dialog using its ID - `GET /api/service_dialogs/<id>`
1. In `content` -> `dialog_tabs` -> `dialog_groups` -> `dialog_fields` find the `DialogFieldTagControl` type input field and check its `options` object. You will see that the id is a number.

---

`content[0].dialog_ta

[2020-02-11 19:37] himdel commented on #739
Such conversion would really be relevant only to DialogFieldTagControl,
`DialogFieldDropDownList` `values` come in a different format, already stringified.

[2020-02-14 12:16] brumik commented on #699
Any update on this issue?

[2020-02-14 12:28] skateman commented on #699
Well, for not nothing ... waiting on @Fryguy

[2020-02-18 14:50] himdel commented on #630
@miq-bot remove_label stale
@miq-bot add_label pinned

Still an issue.

[2020-02-20 20:04] abellotti opened #744 "*collection_action_identifier helpers do not support :identifiers"
The helper methods collection_action_identifier and subcollection_action_identifier in spec/support/api/helpers.rb do not support identifiers listed in an :identifiers block in
the config yaml.

While we can extend those helpers, we may want to add different named ones since we
also need to pass the class to pick which identifier.

[2020-02-20 23:04] gtanzillo opened #745 "/api/vms/{id}/policies does not return the policies in the policy profiles assigned to the VM"
To reproduce:

1. Create a policy and add it to a profile
2. Assign the policy to a VM
3. Request to VM policies from the API -

http://localhost:3000/api/vms/10000000000112/policies

The result has no policy references -

[code]

[2020-02-21 22:08] gtanzillo opened #748 "[RFE] Support add/edit for /api/policy_profiles"
The actions are currently disabled in api.yaml , see https://github.com/ManageIQ/manageiq-api/blob/master/config/api.yml#L2235

Removing the `disabled` option and performing an add and edit action both seem to work

[2020-02-24 18:03] #748 closed

[2020-02-25 17:05] d-m-u commented on #745
@miq-bot assign @d-m-u

[2020-02-25 23:20] gtanzillo opened #755 "API policy assignment assigns policies when it should assign only policy profiles"
For example the request

`POST /api/vms/320/policies`
[code]
[code]
Assigns an `MiqPolicy` object to the specified VM.  But the UI only allows a user to assign a policy profile (`MiqPolicySet`) to a resource.

Furthermore, the API does not support assigning a policy profile to a resource.

[2020-02-26 00:41] chessbyte commented on #755
Maybe this is not necessarily a bad thing in the API

[2020-02-26 02:57] abellotti commented on #755
Lookin' at the api.yml, policy_profiles are subcollections to clusters, hosts, providers, vms, templates, resource_pools, with the declared actions "assign" and "unassign", so those would be done via POST /api/vms/:id/policy_profiles.  {action: "assign"} for example.

[2020-02-26 02:59] abellotti commented on #755
I think this is fine, we expose both as documented here: https://www.manageiq.org/docs/reference/latest/api/reference/policies

[2020-02-26 14:13] gtanzillo commented on #755
Cool, thanks @abellotti @chessbyte!

[2020-02-26 14:14] #755 closed

[2020-02-26 15:02] d-m-u commented on #745
Ugh, fine. AB's right as usual. The UI add is a policy_profile add, and

http://localhost:3000/api/vms/#/policy_profiles shows the correct profiles. I don't have the power to close issues so maybe GT wants to verify this and then he can close it?

[2020-02-26 15:08] chessbyte commented on #745
@gtanzillo ^

[2020-02-28 15:21] bdunne commented on #491
Does it make sense to support any actions (get, post, patch, delete) on sub-resources?  If you know the sub-resource id and want to do something with it, you can access it through the primary collection.

[2020-02-28 16:12] abellotti commented on #491
We support actions on sub-resources, while a plain REST action can be thought of fine/only working on the primary collection resource, we do expose actions via post and delete for example that rely on the URL structure for the semantic for managing the sub-resource of the owning collection resource. One example like assigning/unassigning/etc. policies, policy_profiles, lans, etc of a primary resou

[2020-02-28 20:27] bdunne commented on #491
I don't see how `DELETE api/providers/1/vms/1` would differ from `DELETE api/vms/1`.  Is there a better example that we can discuss?

[2020-02-28 22:16] abellotti commented on #491
DELETE /api/providers/:id/custom_attributes/:ca_id
POST /api/vms/:vm_id/policy_profiles/:policy_profile_id    { "action" : "resolve" }
...

they're out there.

[2020-03-04 20:39] gtanzillo commented on #745
I discussed this with Alberto and this would be the correct way to get the actual policies assigned to a resource -

http://localhost:3000/api/vms/10000000000229/policy_profiles?expand=resources&attributes=miq_policies

Unfortunately, this does not currently work either and needs to be fixed

[2020-03-06 14:47] mfeifer commented on #649
@abellotti has this been addressed? can it be closed?

[2020-03-06 15:07] abellotti commented on #649
Not yet, discussions are pending with the related PR https://github.com/ManageIQ/manageiq-api/pull/647   so let's keep this open.

[2020-03-10 16:14] abellotti commented on #744
Partially resolved via: https://github.com/ManageIQ/manageiq-api/pull/761  for the collection action classed identifiers

[2020-03-11 13:48] abellotti commented on #744
Resolved with https://github.com/ManageIQ/manageiq-api/pull/774

[2020-03-11 13:48] #744 closed

[2020-03-16 09:10] skateman opened #776 "Weird behavior on /api/providers when asking for more than 3 attributes"
When I ask for up to 3 attributes, I get all the extra data like this:
[code]
But when I add a 4th attribute, only the specified attributes show up:
[code]

I think this is pretty inconsistent and it should behave the same way for any number of attributes. This is blocking https://github.com/ManageIQ/manageiq/issues/18818

@miq-bot add_label bug

[2020-03-16 10:15] skateman commented on #776
Okay, found a workaround, but the issue is still super confusing ...

[2020-03-16 17:24] abellotti commented on #776
This is the behavior of the api in general, i.e. not provider specific.  By default, you get all direct attributes, unless you ask for specific direct attributes (associations aside), then you only get them.  In the above example, asking for provider_id triggered that behavior.

In your example, asking for specific direct attributes (provider_id), plus associations, that's what the API returned. I

[2020-03-18 14:52] bwoolf1122 commented on #724
+1 for this issue.

[2020-03-18 20:50] chessbyte opened #781 "API Support for Chargeback Flow"
Even if no API changes are needed, would like to see an end-to-end working example of someone doing chargeback over the API.

- [x] ~~add endpoints for chargeback tiers, detail rates, measures~~ ->
  - ~~endpoint for read action~~
  - extend `api/rates` endpoint's create/edit action to pass chargeback tiers, detail rates, measures, chargeable_field (https://github.com/ManageIQ/manageiq-api/pull/84

[2020-03-18 20:51] chessbyte opened #782 "API Support for Compliance Policy Flow"
Even if no API changes are needed, would like to see an end-to-end working example of someone doing compliance policies over the API.

---

- [x] [API Example](https://github.com/ManageIQ/manageiq_docs/pull/1390)
- [x] [Fix /api/vms/{id}/policies](https://github.com/ManageIQ/manageiq-api/issues/745)
- [x] [check_compliance Enhancement](https://github.com/ManageIQ/manageiq-api/issues/790)
- [ ] [~I

[2020-03-19 10:20] lpichler commented on #781
it looks like that this covers areas:

- chargeback rates CRUD
- rate assignment
- get chargeback output (chargeback report generation)

[2020-03-20 19:39] abellotti commented on #717
With the OpenAPI spec versioning to match ManageIQ's, bringing in the API & MiQ versioning that were on separate version paths to now being one in the same.

[2020-03-24 11:56] d-m-u commented on #739
@miq-bot assign @d-m-u

[2020-03-24 15:09] chessbyte commented on #745
Part of https://github.com/ManageIQ/manageiq-api/issues/782

[2020-03-25 18:31] #739 closed

[2020-03-26 23:53] abellotti commented on #782
wip documentation here: https://github.com/ManageIQ/manageiq_docs/pull/1390

[2020-03-27 18:28] d-m-u commented on #630
Closed in 20013, @himdel, let me know if there's anything I missed, please.

[2020-03-31 20:05] abellotti opened #790 "Enhancement to support check_compliance action"
Adding support for **check_compliance** action which parallels the Classic-UI's "Check Compliance of Last Known Configuration" under Policy,

i.e.
[code]

API action _check_compliance_ to be implemented for the the following API endpoints and the related product identifiers for the role entitlement:

| API Endpoint                     |  Product Identifier(s) |
| -------------

[2020-04-06 13:00] himdel commented on #630
Thanks, tested by trying to copy a dialog with the same name, without https://github.com/ManageIQ/manageiq-ui-classic/pull/5856/commits/4962568f5586895f95fc7d0b7093737e4d3de041 .

Validation fails successfully, and there seem to be no artifacts remaining afterwards :)

[2020-04-06 13:00] #630 closed

[2020-04-06 14:24] himdel opened #794 "API should create AuditEvents for relevant entities"
Right now, when editing a VM using the old ui code, the following happens:

[code]

No such thing happens when editing a VM (or anything else) over the API, and it should.
We're **not** looking for a "create audit event" endpoint, the API needs to automatically create such events for specific collections/actions.

Cc @Fryguy

---

Looks like the UI is currently creating AuditEvents for these:

[co

[2020-04-07 17:10] abellotti commented on #790
Implementation of check_compliance for the API endpoints
 [ ] /api/vms - https://github.com/ManageIQ/manageiq-api/pull/795

[2020-04-09 21:38] #745 closed

[2020-04-13 10:32] morningspace opened #797 "ManageIQ API: /api/reports returns null in col_formats, making UI hard to render"
Steps to reproduce:

* Create a report on ManageIQ UI using the default format settings for all columns
* Retrieve the report definition by calling REST API, e.g.
[code]

Expected results:

As UI developer, I can find the column format settings in the returned JSON payload, so that I know how to render each column using the corresponding column format.

Actual results:

The column format settings

[2020-04-13 11:03] morningspace opened #798 "ManageIQ API: /api/reports/:id/results/:id does not return unit in result_set"
Steps to reproduce:

* Create chargeback, rate, and report on ManageIQ UI
* Queue a report to generate the result for that report
* Retrieve the report result by calling REST API, e.g.
[code]

Expected results:

As UI developer, I can find the unit along with the value returned in the result_set field, so that I know how to render report on UI.

Actual results:

The result_set field in the JSON pa

[2020-04-13 20:11] gtanzillo commented on #790
@lfu Please see Alberto's list above for the additional classes that need to have the compliance check action exposed. You can follow the pattern Alberto established in /api/vms

[2020-04-13 21:43] bdunne commented on #776
@skateman Does https://github.com/ManageIQ/manageiq-api/issues/776#issuecomment-599663953 resolve this issue?

[2020-04-13 21:47] skateman commented on #776
Yeah

[2020-04-13 21:47] #776 closed

[2020-04-14 08:42] lpichler commented on #798
@morningspace

API supports formatted output in `result_set` - it was added [here](https://github.com/ManageIQ/manageiq-api/pull/547) when we added filtering for `result_set`.

you need to add  `?hash_attribute=result_set` to get formatted results.

(Currently, it is needed to specify `sort_by` column for chargeback report results also)

then request can look

[code]

Response:

[code]

@morningsp

[2020-04-14 10:12] lpichler commented on #797
@miq-bot assign @lpichler

[2020-04-15 05:03] morningspace commented on #798
@lpichler Thanks for looking into it.

I tried your suggested approach on my local env, it looks it does not work. The API call that I made is as below:

[code]

Is it because the deployment that I'm using is a bit old although I noticed the PR has been merged almost one year ago.

By digging into it further, it looks at least the PR was included in [ivanchuk-1-beta1](https://github.com/ManageIQ/m

[2020-04-15 05:22] morningspace opened #800 "ManageIQ API: /api/rates/:id only returns a compound version of rate definition"
Steps to reproduce:

* Create chargeback rate on ManageIQ UI
* Retrieve the chargeback rate by calling REST API, e.g.
[code]

It looks the full rate definitions can only be found in `friendly_rate`, which seems to be a printable version. It is difficult to resolve by client, e.g. a UI application to render accordingly.

[2020-04-15 07:34] ashkuren opened #801 "[RFE] API Support for Network/LAN tagging"
Although network tagging is available from within ManageIQ, it's not available via API.
Network collection endpoint: `/api/lans`
Subcollection `/api/:lan_id/tags` not accessible.

It's also missing in the list of collections available for tagging:
https://www.manageiq.org/docs/reference/latest/api/reference/tagging

[2020-04-15 08:57] lpichler commented on #800
@miq-bot assign @lpichler

[2020-04-15 09:48] lpichler commented on #798
@morningspace

thanks for the description and yes that's right and feature is already in `ivanchuk-1-beta1`,

hovewer feature is available on collection `api/results`

`/api/results/24216?hash_attribute=result_set&sort_by=vm_name`

and there is used subcollection `results` in your example.

Is it OK for you to use
`/api/results/XXX?hash_attribute=result_set&sort_by=vm_name`  instead of
`/api/repor

[2020-04-15 11:49] morningspace commented on #798
@lpichler Just to confirm the `result_id` here is exactly the same id that I was using in form of `reports/{report_id}/results/{result_id}`, right?

I tried that just now and it works well. I'm going to bring this to the team and see if that's OK for UI side... then I'll get back to you...

[2020-04-15 12:05] lpichler commented on #798
Correct, it is same id.

[2020-04-15 14:38] lpichler commented on #797
@morningspace

this needs to be added and I opened PR for it [here](https://github.com/ManageIQ/manageiq/pull/20074). There is also example of usage in the PR description.

I am curious - how are you to going to use it ? It this used for own implementation of formatters in your UI ?

I am asking because formatting values in reports can depend also on other information (like unit,..)
so maybe you w

[2020-04-16 12:13] lpichler commented on #800
Chargeback rate consists from more tables (for currencies, tiers  and measures). Those relationships need to be queried by [`attribute` parameter] in api request (https://www.manageiq.org/docs/reference/latest/api/overview/query#virtual-attributes-and-relationships).

Names of chargeback rates relationships are:

[code]

Example of request with those relationships:

[code]

response:

[code]

@mor

[2020-04-16 12:48] morningspace commented on #797
Yes, I am working with the team for IBM Cloud Pak for Multicloud Management which will integrate this into the product UI. It's going to call ManageIQ API to retrieve the data, then render it.

[2020-04-16 12:49] morningspace commented on #797
And yes, we will go through it and see if that's sufficient fo us to render the page. @lpichler

[2020-04-17 13:52] lpichler commented on #797
https://github.com/ManageIQ/manageiq/pull/20074 was merged to master branch and it will to jansa release.

[2020-04-17 18:21] h-kataria commented on #653
Closing due to lack of feedback

[2020-04-17 18:21] #653 closed

[2020-04-20 15:46] d-m-u commented on #801
@miq-bot assign @d-m-u

[2020-04-21 21:18] jrafanie opened #805 "Slow API requests"
This issue will be a toplevel issue with links to subissues as we find which fixes solve each one.

Here is a listing of the most common API requests from a customer log with frequency of each request:

[code]

**Note, the numbers below were done with the tip of ivanchuk branch since that's the version they were using, we should definitely see if master is better or worse for these.**

Below are t

[2020-04-21 21:46] abellotti commented on #805
Very interesting, thanks @jrafanie for getting this information.  I'm curious of the log time span in which the above frequencies have been observed.  Two things that may be of interest:
- Why the high frequencies for queries that essentially get all records, i.e. like refreshing a data set view with all policy profiles, vms, etc. and why aren't those requests with paging enabled.
- From the API l

[2020-04-21 22:01] jrafanie commented on #805
@abellotti wow, you're fast.  I updated the description with the median rails log request timing.  I have some caching solutions for these but wanted to document each one so I can see which solution fixes which request.

[2020-04-21 22:04] jrafanie commented on #805
And yes, I agree, adding paging controls and such would be a great option to offer them but in general, I hope there's some easy changes we can make in general to speed all requests.

[2020-04-22 13:56] abellotti commented on #805
For the authentication, the api log entry time difference between `API Request:` and `Authentication:` would give us the time taken for authentication.

[2020-04-23 14:26] NickLaMuro commented on #805
So regarding this request:

[code]

Depending on the use case, the user might be able to get away with just doing `total_vms` instead of `vms`, and that would save a lot:

[code]

Doesn't save on queries, but drops the amount of data required to serialize significantly.  Again, depends on what is needed by the customer, but that might be a quick fix.

[2020-04-23 20:26] NickLaMuro commented on #805
Found some minor gains by making this change:

https://github.com/ManageIQ/manageiq-api/pull/810

[2020-04-24 08:29] lpichler commented on #797
closing this as it was fixed here https://github.com/ManageIQ/manageiq/pull/20074

@morningspace
if anything needs to be added, please, let me know or open new issue,

thanks!

[2020-04-24 08:29] #797 closed

[2020-04-24 21:32] d-m-u commented on #801
should be closed by 804, @ashkuren, could you please give it a spin and let us know if it suits?

[2020-04-28 12:50] abellotti opened #817 "Service request_retire action is missing the retirement in future capability"
The new request_retire action for service is missing the retirement in the future via the "_date_" and "_warn_" parameters as per: https://www.manageiq.org/docs/reference/latest/api/reference/services#service-retiring-future

[2020-04-28 14:07] d-m-u commented on #817
hey @abellotti we talked about making this logic generic but I don't think that works, I think it needs to be separate:

if you change the generic method to be
[code]
def update_one_collection(is_subcollection, target, type, id, resource)
        id = id.to_i if id =~ /\A\d+\z/
        parent_resource = parent_resource_obj if is_subcollection
        if is_subcollection
          send(target, pare

[2020-04-29 09:26] ashkuren commented on #801
Hi @d-m-u ,
It works as expected. Thank you! I leave the issue open for docs update?

[2020-04-29 10:40] d-m-u commented on #801
Cool, thanks. Yeah, that's fine.

[2020-04-29 12:56] #801 closed

[2020-04-30 17:39] tinaafitz opened #823 "Unable to create Service Template via the API"
The source of this RFE is a problem report about an error creating a Service Template via the API specifically for VMware. There are many different types of Service Templates and it would be great if the API supported all of them.

Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1672358

https://bugzilla.redhat.com/show_bug.cgi?id=1672358#c16 Drew states:
"...I don't believe this is suppo

[2020-05-01 16:03] chessbyte commented on #790
@gtanzillo @abellotti if this is now complete with all the PRs by @lfu that were recently merged, please close this issue.

[2020-05-01 16:06] abellotti commented on #790
afaik this can now be closed.  @gtanzillo ?

[2020-05-01 18:46] gtanzillo commented on #790
Closing, thanks @abellotti, @lfu!

[2020-05-01 18:46] #790 closed

[2020-05-01 19:54] #817 closed

[2020-05-04 21:20] gtanzillo opened #827 "ManageIQ API: Support report results export functionality from the Rest API"
In the UI a user can download report results in Text, CSV, or PDF format. The same functionality is required for the API

![image](https://user-images.githubusercontent.com/76593/81015173-3826e600-8e2c-11ea-9d45-58395d995ed6.png)

[2020-05-06 14:33] Fryguy commented on #827
@abellotti @gtanzillo Note that PDF is "special" in that in may not be available depending on whether or not the PDF generator is installed.  We will need to probably return a proper 400 error code when PDF is not available.  In the UI they just completely don't show the PDF button in this case, but we don't have that luxury in the API.  You can use [`PdfGenerator.available?`](https://github.com/M

[2020-05-06 14:39] gtanzillo commented on #827
@Fryguy That's good to know. Out of curiosity, under what circumstances would the PDF generator not be present?

[2020-05-06 15:45] Fryguy commented on #827
The PdfGenerator  is pluggable and currently based on whether or not prince is installed, so in downstream/custom builds it may not be present.  If not installed, the `NullPdfGenerator` will be chosen.

[2020-05-06 17:59] abellotti commented on #827
Current report run usage and proposed **download** action on the results:

[code]

[code]

Querying all results of a report:

[code]

Getting the **created_on** attribute on the results:

[code]

Getting a single result, report will be in the **result_set** attribute.

[code]

or just:

[code]

Requesting a **txt**, **csv** or **pdf** download of the report result is done via the **download** acti

[2020-05-06 18:00] abellotti commented on #827
Prototyped and tested above with txt and csv,  will now kick the pdf tires, thanks @Fryguy for the   PDF insights.

[2020-05-06 18:55] Fryguy commented on #827
I'm not sure I like the POST with `action: download / report_type: csv`.  To me a download is just a GET, so it shouldn't require a POST.  Does it make sense to instead do one of the following?

- `GET /api/results/22.txt` OR `GET /api/results/22.csv`. This follows standard Rails routing with respect to teh `(:format)` directive which is then accessble as `params[:format]` in the controller.
- `GE

[2020-05-06 19:07] abellotti commented on #827
yea, was battling the above, async request made me move over to the POST action and action result which includes the task reference as we're not returning the txt or csv itself.   Was initially thinking of just GET /api/results/22/csv as an subresource, and have that return the action result with task, but then the REST guidelines were haunting me that a GET should just be that a GET and not chang

[2020-05-06 19:51] abellotti commented on #827
renaming "download" to "request_download" might make it less painful.

[2020-05-11 19:46] shrinaththube opened #829 "API to enable embedded ansible"
In the UI under `Server Control`, admin can enable embedded ansible. The same functionality requried for the API
<img width="964" alt="Screen Shot 2020-05-11 at 2 42 00 PM" src="https://user-images.githubusercontent.com/12885505/81604625-cf90b980-9395-11ea-86ea-6f6db5aa6430.png">

[2020-05-12 18:32] shrinaththube opened #831 "API's for visibility and usability of embedded ansible"
## Required API's for following functionalities
- API to `add/update/delete` credentials (SCM, machines, etc.) in the embedded ansible
UI path: `Automation --> Ansible --> Credentials`

- API to `add/update/delete/refresh` repositories
UI path:` Automation --> Ansible --> Repositories`

- API to `delete` playbooks
UI path:` Automation --> Ansible --> Playbooks `

## Required API's for embedded ans

[2020-05-12 19:38] shrinaththube commented on #823
I got similar errors:
## Unable to create a service template using Ansible Playbook
I tried to create a service template using the following payload
`POST https://<CF_HOSTNAME>/api/service_templates`
### payload 1
[code]

The error I got:
[code]

### payload 2  (almost empty payload)

[code]

Got the error:
[code]

[2020-05-12 19:49] shrinaththube opened #833 "API to get service provisioning status and stdout"
In the UI a user can see Service Provisioning status and Standard output. The same functionality required for API
<img width="1430" alt="Screen Shot 2020-05-10 at 12 51 36 PM" src="https://user-images.githubusercontent.com/12885505/81738562-81e08380-945f-11ea-9462-ff92833b175b.png">

[2020-05-13 07:56] lpichler commented on #831
Those endpoints are available under different names in API.
this docs is about it https://www.manageiq.org/docs/reference/latest/api/reference/configuration_script_sources.

UI:**Repositories**
API: **configuration_script_sources** :
`GET /api/configuration_script_sources` - there are examples in [docs](https://www.manageiq.org/docs/reference/latest/api/reference/configuration_script_sources.
) fo

[2020-05-15 16:09] gtanzillo opened #838 "Include condition expression with compliance details response"
A request that includes the `compliance_details` of a VM returns the description of the condition contained within the compliance policy but does not include the expression, itself.

It would be good if the expression contents could also be included in the response to avoid additional API requests to get it.

[code]
A second request is necessary to get the expression included on condition 10000000

[2020-05-18 14:18] #827 closed

[2020-05-19 18:22] chessbyte commented on #798
@morningspace closing this issue as resolved.  If it does not work for you, please re-open this issue.

[2020-05-19 18:22] #798 closed

[2020-05-19 18:23] chessbyte commented on #800
@morningspace closing this issue as resolved.  If it does not work for you, please re-open this issue.

[2020-05-19 18:23] #800 closed

[2020-05-19 21:24] gtanzillo commented on #838
API usage:

[code]

[2020-05-21 15:53] abellotti opened #842 "Enhance API system token authentication to support OIDC and SAML"
With system token authentication, user authorization works with database authentication as well as authentications where we can query the user for the metadata needed for creating and authorizing the user. i.e.

- Database
- MiqLdap
- External Auth (SSSD based)
  - LDAP
  - AD
  - IPA

For External authentications where we cannot fetch the user metadata on demand, authorization will not work, this

[2020-05-21 16:10] abellotti commented on #842
@gtanzillo as discussed.

/cc @chessbyte

[2020-05-21 19:41] jrafanie commented on #805
@abellotti found that an api token takes around 16ms whereas basic auth was taking around 240ms:

https://www.manageiq.org/docs/reference/latest/api/overview/auth

[code]

[code]

[2020-05-21 19:57] jrafanie commented on #805
From the customer logs, it looks like there were ~41k jwt authentication requests in about 12 hours, or 57 requests per minute.  If they changed to token based authentication, this should significantly improve performance.

[2020-05-21 20:05] jrafanie commented on #805
Another datapoint:
* I sampled the requests coming into the production log and they're doing around 70-160 `/api`  requests per minute
* A good number of these requests are taking >1 second. (56%)  18000/33000.  Around 8000 are taking 2+ seconds.
* there's only 875 vms in the database

[2020-05-21 20:55] jvlcek opened #844 "Add support for region to region system tokens for OIDC"
When authenticating with the region to region system token, also referred to as the X-MIQ-Token, after the token is validated an attempt is made to **authorize** the user. This is possible when configured to use external authentication with SSSD, because dbus can be used to query the Identity Provider, but not with using OIDC, which does not use SSSD.

The issue is rooted in method: Api::BaseContr

[2020-05-21 20:55] jvlcek commented on #844
@miq-bot assign @jvlcek
@miq-bot add_label enhancement

[2020-05-21 21:32] abellotti commented on #844
closing this as the API system token enhancement is already being tracked with this issue https://github.com/ManageIQ/manageiq-api/issues/842

[2020-05-21 21:32] #844 closed

[2020-05-22 21:28] abellotti commented on #842
Solved by:
- https://github.com/ManageIQ/manageiq-api/pull/846

[2020-05-28 16:07] chessbyte commented on #838
@gtanzillo can this be linked to an Epic that we can track on the [Roadmap](https://github.com/orgs/ManageIQ/projects/13), instead of having this issue on the Roadmap?

[2020-05-28 17:44] Fryguy commented on #831
Closing due to @lpichler's response.  Please reopen if you have more questions.

[2020-05-28 17:44] #831 closed

[2020-05-28 21:54] gtanzillo commented on #838
@chessbyte I guess it belongs with https://github.com/ManageIQ/manageiq-api/issues/782, which was completed. Should I create a new epic or add it to that one and open it up again? Also, this is a lower priority now because Omar is preloading the conditions with a separate request and that satisfies his requirement.

[2020-05-28 22:23] chessbyte commented on #838
@gtanzillo I think it is ok to reopen Epics if some work was overlooked.  As for lower priority, we have similar on OUDC epic

[2020-05-29 16:37] vwbusguy opened #852 "The POST endpoint for /api/providers doesn't support PhysicalInfraManager providers"
We have a situation where we have dozens of iLO instances that we want to add to ManageIQ via RedFish and doing this one at a time through the web interface has been tedious, so we attempted to add them through the REST API (per https://www.manageiq.org/docs/reference/euwe/doc-REST_API/miq/index#create-provider ).

Unfortunately, making an authenticated POST call to /api/providers to add a redfish

[2020-05-29 18:11] #852 closed

[2020-05-29 20:01] vwbusguy commented on #852
Thanks!  I pulled the change here and verified that the API calls are now working to provision redfish instances.

[2020-05-29 20:14] abellotti commented on #842
PRs merged, so closing the issue.

[2020-05-29 20:14] #842 closed

[2020-06-02 13:45] #781 closed

[2020-06-16 12:59] gtanzillo commented on #782
This is complete, will handle  [Include condition expression with compliance details response](https://github.com/ManageIQ/manageiq-api/issues/838) with a separate issue

[2020-06-16 12:59] #782 closed

[2020-06-19 18:13] Fryguy commented on #829
I think this can technically be done now by setting the role values in settings (via the settings api on a server), but that is admittedly weird

[2020-06-25 20:07] Fryguy commented on #805
I've marked https://github.com/ManageIQ/manageiq-api/pull/810 as `jansa/yes?` cause it does have an improvement and it seems safe

[2020-06-30 12:00] skateman opened #861 "Endpoint to detect metrics/alerts endpoints for container providers"
Kubernetes/OpenShift supports non-primary endpoint detection in its provider forms. However, this is not compatible with the new DDF version of the provider forms. I'd need an API endpoint that initiates a task for detecting these endpoints, then I could poll for the task results using the same mechanism I already have for credential validation.

Parent issue: https://github.com/ManageIQ/manageiq/

[2020-07-06 18:50] Fryguy commented on #574
@abellotti Can you verify?

[2020-07-06 18:54] Fryguy commented on #601
@skateman is this still a valid issue?  if so, can you unstale?

[2020-07-06 18:55] skateman commented on #601
AFAIK yes

[2020-07-06 18:58] Fryguy commented on #620
@abellotti Can you verify?

[2020-07-07 14:29] abellotti commented on #620
I cannot reproduce this.  I just tried that POST /api/service_templates example in the description on master running from source (and no simulate_queue_worker running), and the service template was created and returned the new service template with no wait.

[code]

[2020-07-07 16:22] abellotti commented on #574
This is still an issue,  we should handle these generically and return a 400 like we do with other ActiveRecord exceptions. I'll create a PR.

[2020-07-13 18:59] gtanzillo commented on #722
Ping @Fryguy

[2020-07-13 19:22] gtanzillo commented on #637
Closing, as workaround was given with existing API

[2020-07-13 19:22] #637 closed

[2020-07-13 19:26] Fryguy commented on #620
@abellotti It sounds like the code is _not_ waiting for the task?  If so, can you close?

[2020-07-13 19:37] abellotti commented on #620
code does not wait correct, closing.

[2020-07-13 19:37] #620 closed

[2020-07-17 14:18] dmetzger57 opened #865 "Rest api should return VM system UUID also for querying VM records"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1858161

Description of problem:

Every VM/bare metal should have a global unique system UUID, and you could get it by one of the below methods on linux system:

# cat /sys/class/dmi/id/product_uuid
5BC2AA57-5A2F-4EAF-8991-5EF4B2CC9442

Or

# dmidecode -s system-uuid
5bc2aa57-5a2f-4eaf-8991-5ef4b2cc9442
The system UUID will be very helpful t

[2020-07-22 16:24] jrafanie opened #866 "API requests with expand=resources can result in huge response sizes depending on the requested attributes"
### Request an attribute from an association
[code]

### Add name attribute to prior request
[code]

### Request an attribute from a virtual column/delegate
[code]

### Add name attribute to prior request
[code]

[2020-07-22 16:45] Fryguy commented on #866
Seems this is somewhat intentional behavior.  So, by default, `expand=resources` will add all physical columns to the resources, but _not_ virtual columns.  The expectation is that when you want to "add" a virtual column or a column via a relationship, you just tack on `attributes=<vcol>`.  However, if you pass `attributes=<pcol>` the expectation is that you only want those specific columns.  As s

[2020-07-22 16:55] jrafanie commented on #805
changing this from `vms` to `vms.name` (`/api/cloud_volumes?expand=resources&attributes=vms.name,size`) drops the response size in one environment from 864kb to 132kb and 23 seconds to 4.

[2020-07-22 17:05] jrafanie commented on #805
Adding an attribute from vms causes the response to not provide all attributes and actions of the vms collection.

`/api/vms?expand=resources&attributes=name,last_compliance_status,tags,v_owning_datacenter&filter[]=active=true"`

1578970 to 62131 bytes response (16 to 8 seconds) before and after.

[2020-07-22 17:07] jrafanie commented on #805
vms is the problem here, requesting only what attribute we want, for example, name, fixes this:

`/api/providers?expand=resources&attributes=name,type,last_compliance_status,aggregate_vm_cpus,aggregate_vm_memory,vms.name`

1351549 bytes before, 2568 after.  13 seconds before, 1 after.

[2020-07-22 17:08] Fryguy opened #867 "Support "ascending" and "descending" aliases for sort_by"
When querying if you spell out "ascending" or "descending" they are not honored, and it can be confusing.  Seems simple enough to support these aliases for sorting.  I'd even be ok with the first "n" characters matching (i.e. "describe" would happen to work too because it starts with "desc")

[2020-07-22 17:10] Fryguy commented on #838
Removed this from the Jansa milestone... @gtanzillo please link to an existing roadmap item or add it directly to the roadmap.

[2020-07-23 15:56] jrafanie commented on #805
many of these requests are improved based on findings in https://github.com/ManageIQ/manageiq-api/issues/866

[2020-07-23 17:59] gtanzillo commented on #865
The system UUID is returned in `uid_ems` for VMware, which should be available via API. Would need to be verified for other providers

[2020-07-24 17:56] jrafanie opened #868 "Add support for querying attributes without expand=resources"
A request such as: `/api/vms?&attributes=name` will silently ignore the requested `name` attribute, returning just hrefs and a 200 response code:

[code]

We should honor any requested attributes (real or virtual) and continue to include the `href` when `expand` is not included in the requested URL.

From discussion here: https://github.com/ManageIQ/manageiq-api/issues/866
Also related to slow api

[2020-07-24 18:06] jrafanie opened #869 "Slow but small response for virtual columns seemingly due to N+1 queries"
From a customer's DB, a request such as:

`/api/vms?expand=resources&attributes=num_cpu,name`

is only a 64KB response but takes 1.6 seconds.

[code]

related to https://github.com/ManageIQ/manageiq-api/issues/805

[2020-07-24 18:17] Fryguy commented on #869
https://github.com/ManageIQ/manageiq/blob/cca2bd8e9c8839deff16ff62a2be49558885f8f4/app/models/vm_or_template.rb#L178

Feels like the code is either
- not preloading at all
- not detecting that this delegate goes through hardwares and thus not preloading it
- not supporting a `:uses => :hardwares` for preloading

[2020-07-24 18:36] jrafanie opened #870 "Add support for returning nil/null in associations:"
This was done for direct resource attributes in #253.  It needs to be done for associations such as those used in virtual attributes.

For example:
`/api/providers?expand=resources&attributes=last_compliance_status`

will return `last_compliance_status` only for providers that have a compliance and not be included in the result for those without it, resulting in inconsistent results for each resou

[2020-07-24 18:49] jrafanie opened #871 "Add support for getting attributes on has_many associations (&attributes=vms.name)"
Because we can't ask for a single attribute on a plural association and if we don't have an exposed virtual attribute, I think this would require us to bring back the whole collection proxy with all of their attributes (all vms with all of their real attributes) in order to get just one or two.

This doesn't work:
[code]

Results in calling `name` on the collection proxy, resulting in the name of

[2020-07-24 18:59] jrafanie opened #872 "Querying for `&attributes=hardware.cpu_sockets` is 0.5 seconds faster than `num_cpu`, WAT"
[code]

[code]

[2020-07-24 19:26] NickLaMuro commented on #869
@miq-bot assign @NickLaMuro

[2020-07-27 20:07] bdunne commented on #870
Fixed by #875

[2020-07-27 20:07] #870 closed

[2020-07-30 21:31] gtanzillo commented on #865
As stated above, we are able to collect `uid_ems` from VMware providers. That value may or may not be available for other provider types or may require running smart state analysis. But, in all cases, the value is available via the API.

Closing this issue, please reopen if needed.

[2020-07-30 21:31] #865 closed

[2020-08-03 20:21] gtanzillo opened #880 "API Performance"
Issues related to improving the performance of the ManageIQ Rest API

- [x] [Slow but small response for virtual columns seemingly due to N+1 queries](https://github.com/ManageIQ/manageiq-api/issues/869)
  - [x] _[renderer.rb] Don't re-Rbac: part deux:_  #874
  - [x] _AR VirtualAttribute queries + introspection:_ ~~#877~~ https://github.com/ManageIQ/manageiq-api/pull/887 https://github.com/ManageI

[2020-08-13 15:22] ashkuren opened #882 "Tags for tenants endpoint are broken"
Hello,

When querying for `/tenants` it's impossible to retrieve the tags.
ManageIQ version: `ivanchuk-6.20190911145513_9f959bd`

Example 1,
[code]
Output:
[code]

Example 2,
[code]

Output:
[code]

Example 3,
[code]

Output:
[code]

Neither of examples has tags section as output.

[2020-08-13 15:40] ashkuren commented on #882
Please ignore. Wrong environment. Tags just do not exist.

[2020-08-13 15:40] #882 closed

[2020-08-18 15:35] d-m-u commented on #823
@tinaafitz can we close this?

[2020-08-19 20:06] jvlcek opened #884 "Add endpoint to revoke user sessions"
This is a sub-issue of issue **_Ability to track and revoke sessions_** [#20378](https://github.com/ManageIQ/manageiq/issues/20378)

**Brief:**

A new endpoint needs to be added to allow a user sessions to be revoked

**Details:**

Introduce revoke session backend support and an api revoke session endpoint.

A user should be able to revoke their own sessions. A super-admin should be able to revoke

[2020-08-19 20:12] jvlcek opened #885 "Parameterize endpoint to revoke user sessions by type"
This is a sub-issue of issue **_Ability to track and revoke sessions_** [#20378](https://github.com/ManageIQ/manageiq/issues/20378)

Issue **Add endpoint to revoke user sessions** [#884](https://github.com/ManageIQ/manageiq-api/issues/884) should be parameterized by type (api, ui, ws, etc). The default is all.

This issue will track adding the support for specifying the parameter for the specific

[2020-08-19 20:44] abellotti commented on #884
Thanks for writing this @jvlcek, I kind of also prefer the POST since we're doing/changing something in the environment.

Here's what I'm thinking:

Revoking all session types for the authenticated user, no need to send _userid_ or _session_types_ since the userid is the authenticated user for the API call.

[code]

Revoking one or more _session_types_ for the authenticated user:

[code]

Omitting

[2020-08-25 13:14] #867 closed

[2020-08-31 20:03] gtanzillo commented on #726
@lpichler Can you take a look at this one?

[2020-09-09 18:50] Fryguy commented on #868
There is also a reverse subtlety here where if you pass `/api/vms?expand=resources&attributes=num_cpu` you get back all of the fields plus num_cpu, however if you pass `/api/vms?expand=resources&attributes=name,num_cpu` you only get name and num_cpu, which doesn't seem to make sense (as it's a physical column).  So changing this opens up fixing this oddity.

[2020-09-09 18:58] NickLaMuro opened #889 "API Performance (Round 2)"
A follow up to https://github.com/ManageIQ/manageiq-api/issues/880 that will include some more "far reaching" fixes and enhancements.

- [ ] [Add support for querying attributes without expand=resources](https://github.com/ManageIQ/manageiq-api/issues/868)
- [ ] [Add support for getting attributes on has_many associations (&attributes=vms.name)](https://github.com/ManageIQ/manageiq-api/issues/871)

[2020-09-17 08:13] valaparthvi opened #891 "Unable to create authentications via REST for ansible tower 3.6 that only supports API version v2."
Description:
Creating authentications via REST fails for ansible tower 3.6 that only supports API version v2.
[code]
1. Is there an existing issue already reported or any related bugzilla?
https://bugzilla.redhat.com/show_bug.cgi?id=1794047

2. Severity: High

[2020-09-21 09:41] skateman opened #892 "Accessing zones' NTP servers through the API"
Most of the form fields are doable either directly or through nested attributes, which is fine. However the NTP servers are accessed in the ui using the `ConfigurationManagementMixin#settings_for_resource`. I am not aware if these per-resource settings are available through the API or not, but I guess it would be easier to just expose the NTP servers somehow through a virtual attribute.

Required

[2020-09-21 13:44] skateman opened #893 "Endpoint for Schedules"
I found an endpoint for report schedules only, but under Configuration there's also a schedules page that I don't know how to access. I am suspecting that this endpoint could be also utilized when accessing the database backup schedule somehow.

@miq-bot assign @gtanzillo

[2020-09-21 13:48] skateman commented on #892
@miq-bot assign @gtanzillo

[2020-09-21 21:47] agrare opened #894 "[NoMethodError] undefined method `lookup_by_identity' for nil:NilClass"
Testing with multi-tenancy and hit this error on the UI:
[code]

[2020-09-22 19:55] kbrock commented on #872
I guess it would be nice if we knew how to swap between virtual attributes and delegation
a lot of that could be based upon creating the extra object

[2020-09-22 20:40] #872 closed

[2020-09-23 21:29] kbrock commented on #892
@skateman Do we need to expose ntp server for every zone? or just the ones that override the settings.

Getting the ntp server runs 5 queries per zone (aka N+1 style)
it even reloads the zone - which I'm working on removing.

Wondering why we even have ntp in our app settings. but that is not a productive question

[2020-09-23 22:37] kbrock commented on #892
I'm starting to question why we need an operating system configuration in our app at all.

Setting the ntp server seems very os centric and would be better configured with the other operating system specific parameters in a tool like `cockpit`

[2020-09-23 22:45] chessbyte commented on #892
A long, long time ago, NTP setup was critical as workers and appliances heartbeated by updating a time stamp in SQL.  So, if the time stamp was too far off, a false positive timeout would get detected and things would restart.  To the user, it looked like our system was thrashing and restarting itself for no reason.

Maybe it is time to revisit these ancient assumptions

[2020-09-23 23:43] kbrock commented on #892
@chessbyte a proper date time is still very much necessary.
But it is not our responsibility to set this operating system parameter.

In the container case, we are not able to change this.
In the appliance case, we will rely upon vmware or `cockpit` to configure this system like it sets the dns server.

[2020-09-24 05:10] skateman commented on #892
@kbrock our job with converting to the Zone add/edit form to React would be way easier without the NTP servers, so I'm more than okay with getting rid of them. I understand that in certain situations we might need to set the NTP servers somehow, but I don't even understand why is this setting on the zone level and not on each server separately.

Oh wait, it's also configurable on a per-server leve

[2020-09-24 14:28] gtanzillo commented on #892
We definitely need to keep the NTP settings for the appliance. But I'm wondering how often users actually need to make changes to the default

[2020-09-24 14:49] chessbyte commented on #892
@Fryguy I am thinking that NTP settings should *only* be exposed in the Appliance Console, as they only apply to each appliance and removed from the UI and API.  Thoughts?

[2020-09-24 15:05] kbrock commented on #892
@chessbyte can we go one step further and suggest they configure ntp server at the same time and in the same tool that they configure the dns server?

[2020-09-24 15:10] chessbyte commented on #892
@kbrock where do they configure DNS server?  Is it not appliance-console?

[2020-09-24 15:19] skateman commented on #892
Is it okay if we "forget" to add these fields into the react-converted version of the form? :wink:

[2020-09-24 18:58] jvlcek commented on #894
In chatting with @agrare it seems the configuration he had setup where this issue was encountered was:

Stand up a single instance of MiQ
Create 2 tenants, Coke and Pepsi
Create 1 users, coke, using database authentication in the Coke tenant
Create 1 users, pepsi, using database authentication in the Pepsi tenant
Configure an EMS in the Coke tenant by adding the Amazon provider in the Coke tenant.

[2020-09-24 20:22] kbrock commented on #892
@chessbyte ok. I was wrong. dns and static ip is in there. We took out the timezone configuration.
Interestingly in that PR, @jrafanie suggested we would probably want to remove ntp server from the settings and ui as well.

https://github.com/ManageIQ/manageiq-appliance_console/pull/99#pullrequestreview-300309077

Also feels like the tool provisioning this vm would be responsible for setting the i

[2020-09-24 21:18] kbrock commented on #892
Cockpit allows us to configure the ntp server. interestingly documentation for doing that is on the same page as setting the timezone and date/time

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/system_administrators_guide/chap-configuring_the_date_and_time

I don't know where to look for the ui

[2020-09-25 06:55] skateman opened #898 "Trying to edit a Zone's authentication(s) crashes with AssociationTypeMismatch"
When I try this request:
[code]

It fails with:
[code]

I guess *The Right Way&trade;* would be to send three requests instead. One to check if there are any authentications, one to update the authentication and one to update the zone. Which might raise transactional concerns, because AFAIK there is no rollback support for chained API requests and I'm not sure if we want to compensate this feature

[2020-09-25 13:27] skateman opened #899 "Trying to access the tenants' name attribute under service dialogs"
I'm trying to seed the Service Catalog selection dropdown using the API:
![Screenshot from 2020-09-25 15-24-05](https://user-images.githubusercontent.com/649130/94272412-51e3d980-ff43-11ea-8495-41a3ff041ad5.png)

The catalogs are prefixed with the tenant name and I was wondering if it's possible to request them directly using a single API request. So far the following isn't really working:
[code]

[2020-09-25 13:29] skateman commented on #899
@miq-bot assign @gtanzillo

[2020-09-25 13:29] skateman commented on #898
@miq-bot assign @gtanzillo

[2020-09-25 13:33] abellotti commented on #899
[code]
should do the trick.

[2020-09-25 14:21] skateman commented on #899
@gtanzillo I wish all my API issues would have such a simple fix :+1: thanks

[2020-09-25 14:21] #899 closed

[2020-09-30 20:00] jrafanie commented on #892
We recently had an issue where a vCenter with terribly out of sync time and caused issues with provisioning because of this.  We made a [change here](https://github.com/ManageIQ/manageiq-providers-vmware/pull/622) 20 days ago to give us more visibility to it when verifying the credentials... So, it's still an issue in 2020.

With that said, I don't know if users use zone and/or server based ntp se

[2020-09-30 20:45] chessbyte commented on #892
I think that setting up NTP is very important for appliances, but does not belong in our application.  I can envision the setup in Appliance Console or in some standard environment (Cockpit?) where NTP can be set up for our appliance.

[2020-10-01 13:27] Fryguy commented on #892
💯% agree, I've never understood the ntp settings in the application proper

[2020-10-01 15:51] NickLaMuro commented on #898
@skateman So I looked into this by literally writing a test to replicate the failure:

[code]

However, what I learned was that basically what is happening is that we are trying to pass:

[code]

to the `.update` of `#edit_resource`:

[code]

which I don't think is valid.

You "might" be able to do it if you pass IDs, but I haven't found anything on the internet to suggest this is something you ca

[2020-10-02 08:20] skateman commented on #898
@NickLaMuro we have this sorted out for [providers](https://github.com/ManageIQ/manageiq/blob/master/app/models/ext_management_system.rb#L62), so I guess we could do something similar? But I think this would need a more generic and global solution as I have this feeling that we will hit into the same wall for any new API endpoint. cc @agrare @Fryguy

Passing IDs is not an option, that would need m

[2020-10-02 13:27] lpichler commented on #893
@miq-bot assign @lpichler

[2020-10-02 14:35] NickLaMuro commented on #898
@skateman I guess what I was getting at is this was advertised to me as a `bug`, and it is just not that, it is an enhancement.

[2020-10-02 19:20] NickLaMuro commented on #898
So I had a PM with @gtanzillo regarding what our options were, and I figured I should share it here.

* * *

### Background

We previously had this line in the old controller:

https://github.com/ManageIQ/manageiq-ui-classic/blob/92cc572b/app/controllers/ops_controller/settings/zones.rb#L116

Which called this method on Zone, which is part of authentication mixin:

https://github.com/ManageIQ/mana

[2020-10-02 19:20] NickLaMuro commented on #898
📖 aside, let me know which option we are going with, and I can look at throwing together a POC.

[2020-10-02 19:35] abellotti commented on #898
Trying to implement a  POST /api/zones/X approach for editing the authentications (a relationship) in the generic updates will probably bite us somewhere else.  I think it's best to expose them as a subcollection, this way we can better inject the necessary logic needed for this,

So introducing:

[code]

[code]

Where a PUT /api/zones/:id/authentications would handle the special  logic there, i.e

[2020-10-02 20:13] chessbyte commented on #898
@abellotti why is the code going through zones to get to authentications?  How are those 2 classes/tables related?

[2020-10-02 20:36] abellotti commented on #898
OPTIONS /api/zones shows authentications as a relationship.  It's just an association via the include AuthenticationMixin in the zone model giving us $zone_object.authentications

[2020-10-03 04:37] skateman commented on #898
@abellotti from the frontend perspective it's not really a good idea to do 2 requests, because then we have to deal with transactions, i.e. cleaning up stuff if the second request fails. This kind of stuff should be sorted out in the backend as there is already an existing solution for that in ActiveRecord/postgresql.

[2020-10-03 04:42] skateman commented on #898
@chessbyte a zone has nested authentications for Windows credentials in that zone (I guess). Ideally I would need a single API endpoint that is able to deal with the related zone credentials sent as a nested attribute. We're doing something similar at the provider forms, but that's a little bit more advanced as they got more than one authentication attached to them and here we only got one.

[2020-10-05 15:08] Fryguy commented on #898
I really don't understand zones having authentications...I think this might be a legacy thing that maybe we should remove... it was added by (ironically) @chessbyte in 2011 here:

[code]

[2020-10-05 15:10] skateman commented on #898
@Fryguy I'm also okay with that :tada: we already removed the NTP servers

[2020-10-05 15:16] Fryguy commented on #898
Seems it's used here?

[code]

[2020-10-05 15:21] Fryguy commented on #898
separately, btw, we've identified a bug in creating new auth records that you might be seeing here, and that @agrare is fixing in https://github.com/ManageIQ/manageiq/pull/20635

[2020-10-05 15:45] Fryguy commented on #898
I would recommend against transaction management outside of the API.  For one, it's complicated and can do thing like a user leaving open-ended transactions (or worse DOS'ing the API by slamming it with open transactions and not closing them).  But, for another, the API interface is controlled by us so we can do everything at the API level...that is, the post method in the ApiZonesController could

[2020-10-05 16:04] Fryguy commented on #898
Talked with @NickLaMuro and there already is a precedent for an authentications subcollection, so thinking that might be best.  Is it possible to create a parent record and include subcollection records in a single shot?  If so, that would seem to be the best of both worlds.

[2020-10-05 16:41] agrare commented on #898
@Fryguy yes, both `Vm#running_processes` and `Host.discoverByIpRange` are currently called by the UI still

[2020-10-05 16:56] NickLaMuro commented on #898
@agrare but would those be used by a `Zone`'s auth record?

(please note:  I only understand zones from a 500K foot standpoint, so I might be missing something obvious here)

[2020-10-05 17:24] agrare commented on #898
@NickLaMuro yes, both of those examples look for an authentication record with type `:windows_domain` on the `Zone`

Check https://www.manageiq.org/docs/reference/latest/general_configuration/#creating-a-zone `#7` "Credentials - Windows Domain"

[2020-10-05 17:38] chessbyte commented on #898
@agrare why would a windows authentication be on the zone?  does not make any sense to me (even though git shows that I added it in 2011).  Maybe because we had nowhere else to hang it off of?

[2020-10-05 17:48] agrare commented on #898
Hey you asked if it was still used not why it was used :laughing:

If I had to guess I'd say because all machines in a windows domain would share the same credentials so:
1. You don't want to be entering the same ones for every VM
2. Windows Domain would span providers so saving it at the EMS level isn't necessarily right (windows vms on vmware and rhv would both belong to the same domain)
3. You

[2020-10-05 17:52] Fryguy commented on #898
Yeah, I'm thinking "there was nowhere else to hang it off of", which isn't a great reason.  Strangely for individual VMs and hosts for SSH access we require a user to enter it on each individual machine.  I like the idea of not needing a user to enter credentials more than once, but perhaps there's a better pattern we can do here for both windows and ssh creds.  We do have the ability to enter arb

[2020-10-05 18:01] chessbyte commented on #898
`Host.discoverByIpRange` does get the zone auth and sets it in `discover_options[:windows_domain]`.  However, it does not seem to be used in the discovery code.  So, we may be able to delete that one.

[2020-10-05 18:03] agrare commented on #898
@chessbyte it looks like it is called from here: https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/mixins/actions/host_actions/discover.rb#L83 unless that is also dead code

[2020-10-05 18:05] chessbyte commented on #898
@agrare I mean that `:windows_domain` is not used by Host discovery code.

[2020-10-05 18:05] agrare commented on #898
Ah okay :+1:

[2020-10-05 18:06] chessbyte commented on #898
`Vm#running_processes` _does_ use `:windows_domain` when it calls `WMIHelper.connectServer(ipaddr, *cred)`

[2020-10-06 08:10] skateman opened #901 "Missing endpoint for creating/editing/deleting floating IPs"
The current verb is `*gp` and we would need `*gpppd` in the UI to move further with https://github.com/ManageIQ/manageiq-ui-classic/issues/6875

[2020-10-06 08:10] skateman commented on #901
@miq-bot assign @gtanzillo
@miq-bot add_label help wanted

[2020-10-06 08:29] skateman opened #902 "Endpoint for time profiles"
There's no API endpoint for accessing time profiles at all, but it should be simple as it's not related to any other model.

@miq-bot assign @gtanzillo
@miq-bot add_label help wanted

[2020-10-06 08:50] skateman opened #903 "Endpoint for uploading custom logos"
The `/api/servers/x/settings` exposes the custom logos, it is possible to get/set these values without any issues. However, there's no way to upload the custom logos using the API. I guess it would need a dedicated endpoint...

@miq-bot add_label help wanted
@miq-bot assign @gtanzillo

[2020-10-06 09:33] skateman opened #904 "Missing API endpoint for renaming VM"
There's a `rename_queue` method on VMs which creates a task and it is being used from the UI but it has no endpoint. The regular `edit` endpoint is not usable as it would only change the name in our DB but not on the provider.

@miq-bot assign @gtanzillo

[2020-10-06 09:47] skateman opened #906 "Allow the editing of authentications for a host"
We have this feature already implemented for providers using `assign_nested_authentication` and this could be something similar. There are no endpoints assigned to the hosts, so it will be a little bit simpler. Most of the changes would be in the core, but as it changes the behavior of the API, I think the issue belongs here.

The current implementation is bumping into the same error as the [zone]

[2020-10-06 09:50] skateman opened #907 "Missing endpoint for creating/updating/deleting PXE Customization Templates"
The current verb is `*g` and we would need `*gpppd` for the UI

[2020-10-06 09:51] skateman commented on #904
@miq-bot add_label help wanted

[2020-10-06 09:52] skateman commented on #907
@miq-bot assign @gtanzillo
@miq-bot add_label help wanted

[2020-10-06 10:00] skateman opened #908 "Endpoint for PXE System Image Types"
There's no API endpoint for accessing/creating/editing/deleting the `PxeImageType` entities. The model is fairly simple and the form doesn't expose anything than the `name` and the `provision_type` so it should be fairly easy to implement it.

@miq-bot add_label help wanted
@miq-bot assign @gtanzillo

[2020-10-06 10:02] skateman opened #909 "Endpoint for ISO datastores"
There is no endpoint for listing and deleting the `IsoDatastore` entities. No other operations are currently exposed in the UI.

@miq-bot add_label help wanted
@miq-bot assign @gtanzillo

[2020-10-06 10:05] skateman opened #910 "Endpoint for ISO images"
There's no endpoint for listing/editing `IsoImage` entities. There are no other operations exposed in the UI.

@miq-bot add_label help wanted
@miq-bot assign @gtanzillo

[2020-10-06 10:48] skateman opened #911 "Endpoint for Host Aggregates"
There's no endpoint for adding/editing host aggregates and adding/removing hosts from them.

@miq-bot add_label help wanted
@miq-bot assign @gtanzillo

[2020-10-06 11:10] skateman opened #912 "Missing endpoint for editing Network Routers"
The current verb is `*gpd` and we would probably need `*gpppd`

@miq-bot add_label help wanted
@miq-bot assign @gtanzillo

[2020-10-06 11:32] skateman opened #913 "Endpoint for accessing/editing/validating log file depot of a server/zone"
The servers and zones can have their log depots and the API has no way to access these. Some of them also have validation implemented in the UI controller, so I think those should be supported by the API too.

@miq-bot add_label help wanted
@miq-bot assign @gtanzillo

[2020-10-06 13:23] bdunne commented on #892
@skateman Should this be closed now that https://github.com/ManageIQ/manageiq/pull/20623 and https://github.com/ManageIQ/manageiq-ui-classic/pull/7369 are merged?

[2020-10-06 13:38] #892 closed

[2020-10-09 14:41] skateman opened #915 "OPTIONS endpoint that tells us what providers support creating AuthKeyPair"
We have this piece of code implemented in `ui-classic`:
[code]
It's being used in the `AuthKeyPair` create form and I am wondering if there's any API endpoint that would provide us the same? If not, then I think it should be created...

@miq-bot assign @gtanzillo
FYI @kavyanekkalapu

[2020-10-09 21:04] Fryguy opened #917 "Unbound query through associations"
While we have the [max_results_per_page](https://github.com/ManageIQ/manageiq-api/blob/master/config/settings.yml#L4), which can keep memory limits down, associations do not abide by that value, allowing for an unbounded query.

So, for example, let's say you have 1 provider with 50K vms. If you hit `/api/vms` or `/api/providers/1/vms` you will be limited to 1000 vms per page.  However if you hit

[2020-10-12 15:46] Fryguy commented on #917
I think my issue is that we have no way of paging those associations even if we did add a limit, and then we also have no way of telling the end user that the limit was applied and they only received a partial payload.

My gut feeling is just to straight disallow has_manys via attributes unless there are specific columns defined.  For example

- :x: `/api/providers?expand=resources&attributes=vms`

[2020-10-12 16:07] abellotti commented on #917
My concern is if we disallow has_manys, we're breaking compatibility, https://www.manageiq.org/docs/reference/latest/api/overview/query.html

while I'm not opposed to doing this for big ticket items (vms, etc.), it's the smaller associations that folks have been querying and expect to get back.  expand=<subcollection> allows api callers to fetch multiple subcollections in a single query to help re

[2020-10-12 16:33] NickLaMuro commented on #917
This made me think that possibly what we could do instead of trying to "take things away" is instead add something to make tracking this issues down easier.  For us, looking through the logs is fine enough (assuming we can get access to them), but would possibly providing an automated process for analyzing those logs, and presenting them via the UI/API be a better solution?

My thinking is that th

[2020-10-12 17:26] Fryguy commented on #917
I agree, but I can't see anything we can do that could prevent that, besides, well, actually preventing that.  If we leave the capability intact, people are going to use it, which leads to killing the workers, and I think we have to prioritize a user shooting themselves in the foot (by killing the app) over a user's convenience.  If we could find a way to keep the capability, but not make the work

[2020-10-12 17:30] Fryguy commented on #917
I'm kind of on the fence.  While I like the idea, it does have some level of inconsistency (some things are queryable, others are not).  If we make it configurable, on a minor note, it makes documenting these inconsistencies difficult/confusing, in that we'd have to say "by default, vms are not queryable, but the administrator can enable it)

[2020-10-12 19:45] Fryguy commented on #915
@agrare I thought we had this already via support feature mixin?

[2020-10-12 19:57] agrare commented on #915
@Fryguy we don't have a supports_feature for create_key_pair, we could add one to the EMS or use `supports_create?` on the `ems.class::AuthKeyPair` model

[2020-10-13 06:32] skateman commented on #915
So here I have access to the EMS subclass, but not to the AuthKeyPair one :confused: so it needs to come from the EMS somehow.

[2020-10-13 15:28] skateman opened #918 "Entity creation is not asynchronous where it should be"
I found a bunch of API endpoints that don't create entities *The Right Way&trade;*, i.e.using an asynchronous task initiated by `create_xy_queue` but just by creating the DB record:
* [ ] auth_key_pairs - https://github.com/ManageIQ/manageiq-api/pull/921

@miq-bot add_label bug
FYI @agrare

[2020-10-14 06:49] skateman opened #919 "Raising an exception in a POST request returns with a 200 response"
The following request:

[code]

Returns a `200` response:

[code]

Is this correct? Because the UI codebase expects HTTP errors if the request failed :confused:

@miq-bot add_label bug

[2020-10-14 07:11] skateman commented on #919
cc @himdel, we might want to handle this on the `API` object level, like rejecting the promise in a wrapper...

[2020-10-14 11:04] skateman opened #920 "[RFE] Editing values under /api/settings with arbitrary resource paths"
The verb for this endpoint is just `g`, so there's no way to change the values. This basically blocks the conversion of most of the forms under OPS.

EDIT: editing works, the issue has been changed to an RFE to support requests like:
[code]

@miq-bot assign @gtanzillo

[2020-10-14 11:42] skateman commented on #918
@miq-bot assign @gtanzillo

This is kinda big, the API is basically broken for these endpoints and doesn't actually create the entities that should be created, only their DB counterparts.

[2020-10-14 12:07] skateman commented on #919
@miq-bot add_label question

[2020-10-14 12:11] skateman commented on #918
@miq-bot add_label help wanted

[2020-10-14 13:17] himdel commented on #919
`results: []` ... that's the bug I think .. the API seems to treat this as a bulk request but it isn't

The code for bulk requests has to return 200 + array of successes/failures,
but individual endpoints must return non-200 responses for failures. (The old 4** if the user did something wrongg, 5** if the server did.)

[2020-10-14 13:20] himdel commented on #919
I don't think we can. Once you have an array of results instead of a single result, we can't just reject.

So I don't think we could do such a workaround for all API request. We can  certainly copypaste it for each of them, but..

[2020-10-14 13:21] skateman commented on #919
@miq-bot assign @gtanzillo

This is also a big one, there are already a bunch of affected forms using the UI...

[2020-10-15 20:59] Fryguy commented on #919
@abellotti can you take a look?

Yeah, I agree when you are posting a single create, it feels like that should return an error code, but if you post a bulk-create, then it should return an array of success and errors and I'm not sure what code _that_ should be (though 200 feels weird)

[2020-10-15 21:01] Fryguy commented on #920
@skateman The /api/settings you cannot change because we don't know what object to apply the change to.  That is, what you are seeing in /api/settings are the rolled up changes from the miq_server, zone, and region.  If you want to change anything then you have to hit /api/miq_servers/:id/settings or /api/zones/:id/settings or /api/regions/:id/settings

[2020-10-15 21:01] Fryguy commented on #920
cc @abellotti

[2020-10-15 21:10] Fryguy commented on #920
I guess we _could_ make /api/settings basically be "region level", but for now, we already allow region level settings through /api/regions/:id/settings.

[2020-10-15 21:51] jrafanie opened #923 "total_vms (virtual total on ems) is really slow in the api"
I was trying to replace an api request that was using the `vms` association from the `providers` main collection:

[code]

Response is slow and large:
`4.32s, 1.67 MB`

This api request was looking for the number of vms that are 'on' and and total vms, so I thought about trying virtual totals, by dropping the `vms` association and adding totals for the on and total vms:

EDIT: I've tested with the

[2020-10-15 21:53] jrafanie commented on #923
This is the largest delay in the log:

[code]

Full logging of the api request is attached.
[development.log](https://github.com/ManageIQ/manageiq-api/files/5388112/development.log)

[2020-10-15 22:03] jrafanie commented on #923
@NickLaMuro I might need your help reviewing/confirming this virtual total problem. I can share my database I'm testing against.

[2020-10-16 05:07] skateman commented on #920
I need this for the `region`, `zone` and `server` levels as the forms under ops are working with these. The best would be to allow POST to `arbitrary_resource_path`s, i.e. URLs like `/api/zones/:id/settings/authentication/amazon_key` to edit just the specific field.

[2020-10-18 08:56] skateman opened #924 "Querying for providers that suport the creation of flavors"
Is there a way to get a list of EMSes that support the creation of Flavors? In our UI controller it's solved via:
[code]

@miq-bot add_label question
@miq-bot assign @gtanzillo

[2020-10-18 09:11] skateman opened #925 "Querying eligible types and managers for Orchestration Templates"
Is there a way to ask for all the provider-namespaced subtypes of Orchestration Templates? So far the subtypes are hardcoded into the DDF form schema, but that's not very pluggable.

@miq-bot add_label question
@miq-bot assign @gtanzillo

[2020-10-18 09:17] skateman opened #926 "PXE server credential validation endpoint"
There's no endpoint for validating PXE server credentials. This is how it's done currently in the UI:
[code]

@miq-bot add_label help wanted

[2020-10-19 06:31] NickLaMuro commented on #923
@jrafanie Saw this come in late Thursday, but we can sync up on Tuesday when I am back from PTO.

[2020-10-19 11:17] skateman opened #928 "Invalidating product feature caches when creating a child (ops) tenant"
There's an explicit call to `/ops/invalidate_miq_product_feature_caches` when creating a new child tenant that runs `MiqProductFeature.invalidate_caches`. This is the only single endpoint that is not API-driven for this form.

I am wondering if it would be possible to either have a dedicated endpoint for this in the API, or to call this any time a new feature is called.

@miq-bot add_label questio

[2020-10-19 15:16] Fryguy commented on #920
I agree...that was the original design we had discussed, if I recall.  @abellotti might know better.

[2020-10-19 16:13] Fryguy commented on #924
If the pattern where you can do an OPTIONS query on an ems is not sufficient, then we should enhance that.  Alternatively I could see an OPTIONS query on flavors, but then you'd need a way to know what kind of EMS that flavor belongs to.  cc @agrare

[2020-10-19 16:14] Fryguy commented on #925
cc @agrare Thoughts here?  Sounds similar to #924 ?

[2020-10-19 16:15] Fryguy commented on #928
Why does the UI do this?  Feels more like a backend concern, IMO, in a similar way we have to invalidate the Settings cache when a setting changes.

[2020-10-19 20:55] jrafanie commented on #923
![Screen Shot 2020-10-19 at 4 47 17 PM](https://user-images.githubusercontent.com/19339/96510135-14652a00-122b-11eb-9a7a-88daf83e02e6.png)

I got this with this request:  http://localhost:3000/api/providers?expand=resources&attributes=name,type,last_compliance_status,aggregate_vm_cpus,aggregate_vm_memory,total_vms,total_vms_on

[code]

[2020-10-20 13:51] jrafanie commented on #923
[code]

[2020-10-20 16:54] #884 closed

[2020-10-20 19:19] agrare commented on #924
Yeah `supports :create` on the Flavor class works but you have to find the subclass first.  `Flavor.class_by_ems` works when you are looking at a single ems.
@skateman would a `supports_create_flavor?` feature work for you?

[2020-10-20 21:50] jrafanie commented on #923
Looking at this with @NickLaMuro, we found:

* aggregate is fine in isolation: 😃
`/api/providers?expand=resources&attributes=name,aggregate_vm_cpus`
`105.9ms - 2927rows`

* virtual_toal is fine in isolation: 😄
`/api/providers?expand=resources&attributes=name,total_vms`
`72.3ms - 608rows`

* virtual_total + aggregate is horrible when combined: 😭
`/api/providers?expand=resources&attributes=name,aggr

[2020-10-21 08:16] skateman commented on #924
Yeah, if there would be an API request on the providers with a filter that returns all these, I'm good with it :+1:

[2020-10-21 14:42] #880 closed

[2020-10-21 16:48] NickLaMuro commented on #923
Just a heads up.  We have determined a cause for this and a solution, and I hope to have something in place today yet.

[2020-10-21 17:46] Fryguy commented on #923
Is this _any_ combination of virtual_total's (e.g. total_hosts + total_vms), or specifically because these are both aggregating vms

[2020-10-21 18:56] NickLaMuro commented on #923
@Fryguy I will do a write up about it with the PR I am opening, but it was actually really not related to these particular columns at all, just that they both had `virtual_includes` associated with them AND can be found via a SQL `SELECT`.

Anyway, will describe more when I get a PR together.

[2020-10-22 09:02] skateman commented on #918
Okay, I figured out that the ones I thought are done wrong actually are nonexistent endpoints, so the issue is just with `auth_key_pairs`.

[2020-10-22 11:14] skateman opened #936 "Endpoint for Policy simulation"
The policy simulation itself is an asynchronous task initiated by [`.rsop_async`](https://github.com/ManageIQ/manageiq/blob/master/app/models/mixins/miq_policy_mixin.rb#L141) from the UI controller.

![Screenshot from 2020-10-22 13-14-30](https://user-images.githubusercontent.com/649130/96864351-8a0a0980-1468-11eb-9586-73a1b9ca4e7c.png)

The VM selection filelds in the form can be probably feeded

[2020-10-22 13:46] #923 closed

[2020-10-22 15:24] #918 closed

[2020-10-22 15:34] abellotti commented on #920
https://www.manageiq.org/docs/reference/latest/api/reference/settings.html

[2020-10-22 15:38] NickLaMuro commented on #920
https://github.com/ManageIQ/manageiq-api/pull/275

[2020-10-22 17:50] NickLaMuro commented on #920
@skateman @gtanzillo So as @abellotti has mentioned, the settings do exist as part of a subcollection, and are tested here:

https://github.com/ManageIQ/manageiq-api/blob/c02451e9/spec/requests/servers_spec.rb#L198-L207

I also confirmed it works outside of a test context as well against a generic `bin/rails s`:

[code]

Are we expecting to do what @skateman suggested [here](https://github.com/Man

[2020-10-22 17:54] Fryguy commented on #920
I think we can change this issue into an RFE for the ability to POST to arbitrary_resource_paths.  It's really up to @skateman if he wants to use the existing mechanism on the UI side first, or to wait until the POST to arbitrary_resource_paths feature is added.

[2020-10-22 18:59] skateman commented on #920
PUT/PATCH (I guess) :wink:

[2020-10-26 15:59] NickLaMuro commented on #920
So, checking back in with this one to make sure I wasn't holding anything up, I am going to push back on the RFE that has been requested and say we shouldn't support `"arbitrary_resource_paths`", since we don't know how many levels deep it could be:

https://github.com/ManageIQ/manageiq/blob/7ea2845fc/config/settings.yml#L24-L41

And I would rather not expose a potential security vulnerability or

[2020-10-26 19:14] gtanzillo commented on #585
This should be supported now that DDF forms have been implemented across all providers.

[2020-10-26 19:14] #585 closed

[2020-10-28 09:00] skateman opened #953 "Missing endpoint for manipulating with dashboards"

[2020-10-28 09:12] skateman commented on #924
Closing in favor of https://github.com/ManageIQ/manageiq/pull/20747

[2020-10-28 09:12] #924 closed

[2020-10-28 11:53] skateman commented on #925
Supports mixin maybe?

[2020-10-29 10:33] skateman commented on #925
@agrare the support mixin itself is not enough as that would only give me a list of providers, but not the provider-specific orchestration template subclasses which I need to submit when creating an entity.

[2020-10-29 18:49] skateman commented on #920
Fair enough, closing...

[2020-10-29 18:49] #920 closed

[2020-11-02 05:01] sonalkakode opened #956 "Metric Rollups API filtering based on parameter not working as expected"
Issue Summary

Two parameters "end_date" and "resource_ids" in the Metric Rollups API do not provided response as expected with CP4MCM 2.1 build.

Issue Details

1.) When using end_date parameter in "api/metric_rollups" , even though end_date is provided , we are getting response above that timestamp.
API used : "https://inframgmtinstall-cp4mcm-customer3.multicloud-ibm.com/api/metric_rollups?expan

[2020-11-02 05:02] sonalkakode commented on #956
Downstream issue created : https://github.ibm.com/IBMPrivateCloud/CP4MCM/issues/14787

[2020-11-02 14:05] Fryguy commented on #956
@abellotti @gtanzillo Can you take a look at this one?

[2020-11-02 14:22] abellotti commented on #956
@lpichler signature for end_date seems correct as per https://www.manageiq.org/docs/reference/latest/api/reference/metric_rollups.html.    I don't think we're looking at end_date here https://github.com/ManageIQ/manageiq-api/blob/6096543dcfce5dd1ca1f6a8582cb7c834678a877/lib/services/api/metric_rollups_service.rb#L9 because the slice does not include it.    Also, we should be adding a spec that tes

[2020-11-03 13:59] lpichler commented on #893
duplicate of https://github.com/ManageIQ/manageiq-ui-classic/issues/7328

[2020-11-03 19:26] kbrock commented on #919
ok, current status:

returning `:ok`(i.e.: 200) for creates with success and failure
returning `:not_acceptable` (i.e.: 406) for single creates that fail - this is changing from the previous `:ok` response code.

While we are here, I did look into changing successful creates to `:created` (i.e.: 201) - no other actions has this concept. This is a lot of controller and changes. I don't think the am

[2020-11-04 06:50] skateman commented on #919
@kbrock AFAIK if you just raise an exception without any handling in a request, it returns with a HTTP 500. Why not use that?

[2020-11-04 12:03] sonalkakode commented on #956
@lpichler , Does this PR also fix the **resource_ids** parameter issue I mentioned above?

[2020-11-06 14:37] #956 closed

[2020-11-10 13:48] lpichler commented on #956
@sonalkakode

It was working before and I see improper signature in https://www.manageiq.org/docs/reference/latest/api/reference/metric_rollups.html

If you need to filter by `resource_ids` you have to do
`resource_ids[]=1&resource_ids[]=2&resource_ids[]=4`
instead if `resource_ids=[1,2,3]` as it is in doc.

then in your example:

[code]

Note: Be aware that request parameter `resource_ids` is `Me

[2020-11-12 11:19] skateman commented on #911
@miq-bot assign @skateman
@miq-bot rm_label help wanted

[2020-11-12 15:47] lpichler commented on #953
@miq-bot assign @lpichler

[2020-11-13 17:09] lfu commented on #907
@miq-bot assign @lfu

[2020-11-16 14:59] #928 closed

[2020-11-17 18:28] kbrock commented on #919
sigh. ok current status:

if it is an action request, associated with bulk requests, then it will always return a 200, even if a single entry is added.
If it is not an action request, then the appropriate response code is used.

So the request is driving this instead of the response.

This is a little strange as sometimes action requests are the only way to handle requests, even for a single resou

[2020-11-20 18:31] tinaafitz commented on #823
Hi @d-m-u, I'd like to keep this open to track the progress of the service_template API work for the various service types.

[2020-11-30 17:49] NickLaMuro opened #972 "[RFE] Delete report results from API"
Currently a missing feature in the API as noted in gitter:

https://gitter.im/ManageIQ/api?at=5fc0d2446ebe7532e6a5f226

[2020-12-01 13:48] Fryguy commented on #972
Also the ability to delete report results.

[2020-12-04 08:21] skateman commented on #919
@kbrock how is this going?

[2020-12-07 13:32] skateman opened #974 "Editing a user doesn't have constrains for the admin user"
In the UI the user editing form (and controller) doesn't allow the user to change the name or the assigned groups of the `admin` user. However, this is not the case in the API and it is possible to rename the `admin` user or assign it to certain groups which I think might break RBAC stuff.

Ideally these constraints should be in the DB model, but we don't really do that because that might hurt db

[2020-12-07 14:15] Fryguy commented on #974
Can you link to specific code...I agree it should move to the model, actually, but it depends on the specifics

[2020-12-07 14:17] skateman commented on #974
![Screenshot from 2020-12-07 15-16-26](https://user-images.githubusercontent.com/649130/101361393-3419e580-389f-11eb-8b3c-650c1cea33ce.png)

https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/views/ops/_rbac_user_details.html.haml#L9

[2020-12-07 20:49] kbrock commented on #974
For this case, putting in the model may make sense.
But we're hitting more and more use cases where we have business logic in the controllers and no good place to duplicate this logic in the api controllers.

I'm ok making a slew of changes across all tests to avoid the env.test?
specifically with users and requiring tenants and groups, we've made quite a few changes to make them behave in tests i

[2020-12-08 09:57] skateman commented on #974
These are more like constrains that should be in a model, at least that's where I'd put them in my own hypothetical Rails app :thinking:

[2020-12-08 12:51] skateman opened #976 "The /api/alerts endpoint is returning MiqAlertStatus entities"
The alerts endpoint is not returning what I'd expect:
[code]

This is okay only until we need to access the actual `MiqAlert` entities through the API ...

@miq-bot add_label bug
@miq-bot assign @abellotti
cc @gtanzillo

[2020-12-08 14:08] Fryguy commented on #974
@skateman I agree.  Generally, constraints that apply to all users should be in the model (or even the database)...things like specific value ranges, enums, certain validations.  _Some_ things we can't put in the model, particular if they only apply to a subset of users, or if they prevent standard backend usage like deleting records.

In this particular case, while this is a user-specific change,

[2020-12-08 16:33] NickLaMuro opened #977 "API additions for Lasker"
* [x] **[Subcollections::Results] Add DELETE actions** #975
* [x] **GET `/api contains available timezones`** - #973
* [x] **OPTIONS `/api/cloud_volumes?ems_id=:id`** - #914
* [x] **OPTIONS `/api/vm/:id/snapshots`** - #943
* [x] **GPPPD `/api/host_aggregates`** - #964
* [x] **GET `/api/shortcuts`** - #970
* [x] **PPPD `/api/floating_ips`** - #962
* [x] **PP `/api/network_routers`** - #960
* [x] **

[2020-12-08 16:38] #915 closed

[2020-12-08 17:17] Fryguy commented on #977
@skateman Can you add your API PRs you've been working on?

[2020-12-08 20:41] kbrock commented on #872
I wonder if the performance hit is due to the fact that virtual attributes subqueries are run for every row, even those that are not brought back.

[2020-12-09 07:39] skateman commented on #977
[ ] `/api` should contain available timezones - https://github.com/ManageIQ/manageiq-api/pull/973
[ ] `OPTIONS /api/cloud_volumes?ems_id=:id` - https://github.com/ManageIQ/manageiq-api/pull/914
[ ] `OPTIONS /api/vm/:id/snapshots` - https://github.com/ManageIQ/manageiq-api/pull/943
[ ] `GPPPD /api/host_aggregates` - https://github.com/ManageIQ/manageiq-api/pull/964
[ ] `GET /api/shortcuts` - https:

[2020-12-09 15:58] lpichler commented on #977
- [ ] GPPPD  `/app/widget_sets` widget_set https://github.com/ManageIQ/manageiq-api/pull/968

[2020-12-09 18:53] #919 closed

[2020-12-11 10:14] szajac01 opened #978 "Unable to edit tenant name with API"
Hi, a little bug from the manage iq jansa2 tenants api

url: "{{ miq_api }}/tenants/1"
method: POST
body: "{\"action\" : \"edit\", \"resource\" : { \"name\" : \"test\", \"description\" : \"test\" } }"

does update only the description and not the name.
I also does not fail

Updating name is possible via the UI in the Company Name field froé server settings.

[2020-12-11 12:56] skateman opened #979 "Changing things via the server/region/zone settings endpoint might break the format of the settings"
Basically a format conversion problem, the settings are coming from YAML but presented as JSON are bringing in some conversion artifacts that are described [here](https://github.com/ManageIQ/manageiq-ui-classic/pull/7498#issuecomment-732168120).

@miq-bot assign @gtanzillo

We should probably discuss this on our next UI/API meeting...

[2020-12-16 21:22] gtanzillo commented on #979
@kbrock and I looked at config/settings.yml. As an experiment, we did the following:

[code]

[code]
Without ignoring whitespace, there were about 30 other differences.

[code]
Note: Here the main differences are due to values that were originally symbols are now strings and whitespaces.

[2020-12-16 23:47] kbrock commented on #979
## Process

Our settings is stored in yaml and edited in json:

1. we are deserializing the yaml into ruby objects
2. serializing ruby objects to json
3. sending json to the browser
4. modifying json in javascript on the browser (fact check me - this may be wrong)
5. shipping json back to server
6. back to the server in json
7. deserializing json to ruby objects on the server
8. serializing ruby o

[2020-12-17 21:49] kbrock commented on #979
Notes from @gtanzillo and @kbrock:

- yaml to yaml being the same is not necessary. we care about ruby objects comparison to ruby objects.
- json is the only one we need to have serialize and deserialize produce the same value.
- we store regexp as strings and as regular expressions (ruby objects) - it is only the places we store them as regular expressions that are an issue.
- the yaml changes to

[2020-12-27 04:38] kbrock commented on #979
update:
- [ ] support strings for event detection instead of regexs ManageIQ/manageiq#20907
- [ ] support strings instead of symbols for settings values ManageIQ/manageiq#20908
- [ ] change symbols to strings in settings ManageIQ/manageiq#20908
- [ ] remove regex from nuage
- [ ] remove regex from azure
- [ ] remove regex from redfish

[2021-01-04 19:09] Fryguy commented on #911
Is this done with the merging on #964?  I know it says "Partially", but wasn't sure why.

[2021-01-04 19:15] skateman commented on #911
Nope, the add/remove hosts actions still need to be implemented, but that's a different form.

[2021-01-04 19:55] Fryguy commented on #979
Moving forward, I wonder if we should change our settings.yml to settings.json... This way we _can't_ introduce non-JSON stuff.

[2021-01-05 09:26] #912 closed

[2021-01-05 12:38] skateman commented on #976
Okay, so alerts are available under `/api/alert_definitions` closing...

[2021-01-05 12:38] #976 closed

[2021-01-06 15:24] #972 closed

[2021-01-13 13:38] skateman commented on #911
There are two additional forms for adding/removing hosts to/from host aggregates:
![Screenshot from 2021-01-13 14-36-26](https://user-images.githubusercontent.com/649130/104459245-c69f5a00-55ac-11eb-8444-0e52b67ca219.png)
![Screenshot from 2021-01-13 14-37-21](https://user-images.githubusercontent.com/649130/104459308-dd45b100-55ac-11eb-9cb8-1171dc1fa360.png)
![Screenshot from 2021-01-13 14-37-10]

[2021-01-13 16:25] Fryguy commented on #911
I like that idea...what new endpoints would be required?

[2021-01-13 16:29] skateman commented on #911
We'd need `add_host` and `remove_host` but only if we don't go with the new approach. If we do, we just need @NickLaMuro's https://github.com/ManageIQ/manageiq-api/pull/916

[2021-01-14 12:42] skateman opened #982 "Retrieving a list of available rbac tenant quotas"
When retrieving the list of tenant quotas for a given tenant, the UI calls the [`Tenant#get_quotas`](https://github.com/ManageIQ/manageiq/blob/master/app/models/tenant.rb#L137-L141) method which merges together the assigned quotas with all the other quotas that can be possibly assigned. When requesting quotas for a given tenant via the API, I can only access the assigned oned, but not the possibil

[2021-01-14 13:12] #901 closed

[2021-01-14 16:39] abellotti commented on #982
We can certainly provide this via `OPTIONS /api/tenants/X/quotas`, but since the information is general to all, and `OPTIONS /api/quotas`  (the real endpoint for TenantQuota) is not available since it is a subcollection only, we can provide this information with  `OPTION /api/tenants` in the data section returning "quota_definitions". (from TenantQuota.quota_definitions).

[2021-01-20 14:16] #982 closed

[2021-01-20 16:27] #907 closed

[2021-01-20 17:10] NickLaMuro commented on #906
Just want to put this here for reference that general practice that we want to go with is being worked out and discussed in https://github.com/ManageIQ/manageiq-api/pull/916 so that PR should dictate how we decide to implement this feature, and that might not include using `assign_nested_authentication`.

[2021-01-21 16:10] lfu commented on #909
There are `create` operations in [IsoDatastore](https://github.com/ManageIQ/manageiq-ui-classic/blob/67c7829f755ac0032ed3187b4b3c88803abd7dcf/app/controllers/pxe_controller/iso_datastores.rb#L6). Is it still valid? @skateman

[2021-01-21 16:14] skateman commented on #909
Well, I don't see them in the api.yml :confused:

[2021-01-21 17:36] skateman commented on #909
Oh, sorry, you're right, now I get it. Yes please!

[2021-01-21 19:36] lfu commented on #910
@skateman I don't find there is any reference of `listing` product feature for `IsoImage`. There is only `edit` feature.

[2021-01-22 12:23] skateman commented on #910
Yeah, listing is probably not necessary, only retrieving one and editing it.

[2021-01-25 10:51] skateman commented on #936
The `/api/event_definition_sets` endpoint seems okay to me. Now we would need an endpoint that implements `MiqPolicyMixin#rsop_async`, I think the best location would be `POST /api/event_definition/:id` with a `simulate` action, but @abellotti should confirm. cc @gtanzillo

[2021-01-25 15:00] abellotti commented on #936
You meant event_definition_sets ? If so, that makes sense,  resource endpoint **POST /api/event_definition_sets/:id** with action "**simulate**"

[2021-01-25 15:16] skateman commented on #936
The PR @lfu created is for listing `event_definition_sets` but the next step in the policy simulation is to select an actual `event_definition` and run the simulation against it.

[2021-01-25 15:34] abellotti commented on #936
Ahh ok, so for MiqEventDefinition that is currently exposed via /api/events, so sounds like that would be a **POST /api/events/:id** action simulate instead

[2021-01-25 15:37] skateman commented on #936
I'm good with that, so @lfu we need a `simulate` action under `/api/events/:id` with basically the same behavior as `rsop_async` but returning the task ID as any other async API request would do.

[2021-01-25 18:07] lfu commented on #936
`MiqPolicyMixin` is included by many objects that support policy. `MiqPolicyMixin#rsop_async` is a class method of the event targets. So it seems not right to have a `simulate` action for the events.

In my opinion, `simulate` action should be added for those objects that support policy, like `Vm`, `ExtManagementSystem`, `Host` etc. There are about 15 classes that could call `MiqPolicyMixin#rsop_a

[2021-01-25 18:20] abellotti commented on #936
We have many resources that support the "resolve" action, see subcollection/policies.rb -> policy_resolve, essentially triggering RSOP's.  is that what is needed here ?

[2021-01-25 20:58] lfu commented on #936
`resolve` action points to `policy_resolve` that calls an instance method in `MiqPolicyMixin`. But `MiqPolicyMixin#rsop_async` is a class method that we have to add in.

[2021-01-26 07:53] skateman commented on #936
Well, if you look at the screenshot above, you can only select VMs (1+) against one (1) event, so I still think that the best is to keep it under events cc @Fryguy

[2021-01-26 15:02] Fryguy commented on #936
From a user's standpoint, would I expect to "go to an event and ask it to be simulated on a given resource", or "go to a resource and ask for a simulation based on the given event"?

IMO, more people would think the latter would be more intuitive, so by extension I think the resource (e.g. a VM) should have a simulate_policy action where you give it which event to start the simulation with.

[2021-01-26 15:03] skateman commented on #936
But what if the user simulates against multiple VMs (which is the case above on the screenshot)?

[2021-01-26 15:04] Fryguy commented on #936
Bulk action?

[2021-01-26 15:06] Fryguy commented on #936
Actually...where in the screenshot do they simulate against multiple VMs?  I don't even see a selection, unless that first box is choosing all Cloud/Infra VMs?

[2021-01-26 15:07] Fryguy commented on #936
FWIW, I've always found that form confusing precisely because it's backwards...you simulate policy on a resource and you kick the policy with an event.  The fact that you pick the event first is just weird to me.

[2021-01-27 06:32] skateman commented on #936
I'm not so sure, then we're putting more work on the frontend, because it has to figure out which VMs to simulate against.
![Screenshot from 2021-01-27 07-26-15](https://user-images.githubusercontent.com/649130/105951857-f81a2a00-6070-11eb-8b41-d28595899c6a.png)

We only have the ID of the VM on the frontend if the user selects the *Single VM/Instance* option and simulates against a single VM. Any

[2021-01-27 10:59] skateman commented on #936
There is a different kind of policy simulation that is accessible from the GTL view of VMs or other entities where the bulk query would make sense, but there you can select multiple policy profiles (not events) and simulate them on multiple entities which you select with checkboxes, i.e. you know their IDs and there's no need for a server rountrip.